defaults/flow.json
[{"id":"efb296b3.de5398","type":"tab","label":"COVID","disabled":false,"info":""},{"id":"ca8899ed.cba3c8","type":"tab","label":"Cryptocurrency","disabled":false,"info":""},{"id":"c3be9c42.a6dbe","type":"tab","label":"weather","disabled":false,"info":""},{"id":"e416a67f.ee9968","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#356a9f","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#356a9f","edited":true},"page-titlebar-backgroundColor":{"value":"#356a9f","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#5990c8","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":true},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#356a9f","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7852000f.a515","type":"ui_group","z":"","name":"Weather report for 4 cities","tab":"","order":1,"disp":true,"width":12,"collapse":false},{"id":"7172d4aa.94fd7c","type":"ui_group","z":"","name":"Weather report for this location...","tab":"","order":1,"disp":true,"width":"12","collapse":false},{"id":"20e97f50.f4d82","type":"ui_group","z":"","name":"Weather report for this location...","tab":"","order":1,"disp":true,"width":"12","collapse":false},{"id":"81e3e900.e0a5b8","type":"ui_group","z":"","name":"Weather report for this location...","tab":"","order":1,"disp":true,"width":"12","collapse":false},{"id":"edd42010.c8128","type":"ui_group","z":"","name":"Sysinfo","tab":"","order":1,"disp":true,"width":"6"},{"id":"c00e4fca.30615","type":"ui_group","z":"","name":"Memory","tab":"","order":2,"disp":true,"width":"6"},{"id":"9ce6b562.dcb208","type":"ui_group","z":"","name":"Arduino","tab":"","order":3,"disp":true,"width":"6"},{"id":"b6fd47d4.742908","type":"ui_group","z":"","name":"TwitterPosts","tab":"","order":4,"disp":true,"width":"6"},{"id":"faebf5a1.e53868","type":"ui_group","z":"","name":"Weather","tab":"","order":5,"disp":true,"width":"6","collapse":false},{"id":"bce93be2.427608","type":"ui_group","z":"","name":"Sarahah-Notification","tab":"","order":6,"disp":true,"width":"6"},{"id":"4e59ec11.67a904","type":"ui_group","z":"","name":"Tweets","tab":"","order":7,"disp":true,"width":"6"},{"id":"7ad7e9ed.4c1838","type":"ui_group","z":"","name":"weather in one city","tab":"","order":1,"disp":true,"width":7,"collapse":false},{"id":"7e9295a4.9c209c","type":"ui_group","z":"","name":"weather report for one city","tab":"","order":2,"disp":true,"width":"12","collapse":false},{"id":"fc86d089.87e66","type":"ui_group","z":"","name":"Test","tab":"","disp":true,"width":"6"},{"id":"9bcac022.afa2b","type":"ui_group","z":"","name":"Masterswitches","tab":"","order":6,"disp":false,"width":"6","collapse":false},{"id":"21ad8c90.994d14","type":"ui_group","z":"","name":"Condition","tab":"","order":5,"disp":false,"width":"4","collapse":false},{"id":"8c218e6d.011e6","type":"ui_group","z":"","name":"Wind","tab":"","order":4,"disp":false,"width":"4","collapse":false},{"id":"df0986e5.2c9c38","type":"ui_group","z":"","name":"Luftfeuchtigkeit","tab":"","order":4,"disp":false,"width":"6","collapse":false},{"id":"6e1fd67b.01cec8","type":"ui_group","z":"","name":"Condition","tab":"","order":2,"disp":false,"width":"2","collapse":false},{"id":"f426d48a.6d9228","type":"ui_group","z":"","name":"Forecast","tab":"","order":6,"disp":false,"width":8,"collapse":false},{"id":"c543b461.a2c5a8","type":"ui_group","z":"","name":"Weather Icons","tab":"","disp":true,"width":"8"},{"id":"9dcc461.c55d7b8","type":"ui_spacer","name":"spacer","group":"c543b461.a2c5a8","order":3,"width":2,"height":1},{"id":"d5c77e61.7e43f","type":"ui_spacer","name":"spacer","group":"c543b461.a2c5a8","order":6,"width":6,"height":1},{"id":"4bcf2d30.5e22f4","type":"ui_spacer","name":"spacer","group":"c543b461.a2c5a8","order":7,"width":6,"height":1},{"id":"213d2fa5.db1d9","type":"ui_group","z":"","name":"The Week Ahead","tab":"","disp":true,"width":"6"},{"id":"3b1fb8b2.749fd8","type":"ui_group","z":"","name":"today","tab":"","order":3,"disp":true,"width":4,"collapse":false},{"id":"79e055b8.3e924c","type":"ui_group","z":"","name":"tomorrow","tab":"","order":4,"disp":true,"width":4,"collapse":false},{"id":"97a6b9ab.1b44d8","type":"ui_group","z":"","name":"in 2 days","tab":"","order":5,"disp":true,"width":4,"collapse":false},{"id":"c2c94659.5cf138","type":"ui_group","z":"","name":"in 3 days","tab":"","order":6,"disp":true,"width":4,"collapse":false},{"id":"53f6880d.dec468","type":"ui_group","z":"","name":"in 4 days","tab":"","order":7,"disp":true,"width":4,"collapse":false},{"id":"81a7e021.af261","type":"ui_group","z":"","name":"in 5 days","tab":"","order":8,"disp":true,"width":4,"collapse":false},{"id":"e92145ac.da8228","type":"ui_spacer","name":"spacer","group":"1ca60f9e.d1776","order":2,"width":1,"height":1},{"id":"a820455a.bd69b8","type":"ui_spacer","name":"spacer","group":"1ca60f9e.d1776","order":3,"width":1,"height":1},{"id":"a904ac20.7d1bf","type":"ui_spacer","name":"spacer","group":"7e9295a4.9c209c","order":2,"width":1,"height":1},{"id":"b63dd536.de24f8","type":"ui_spacer","name":"spacer","group":"7e9295a4.9c209c","order":7,"width":4,"height":1},{"id":"712784dc.ccbd6c","type":"ui_spacer","name":"spacer","group":"7e9295a4.9c209c","order":10,"width":5,"height":1},{"id":"43f4df0a.99e6","type":"ui_spacer","name":"spacer","group":"7e9295a4.9c209c","order":13,"width":5,"height":1},{"id":"8754ed6b.880a9","type":"ui_spacer","name":"spacer","group":"7e9295a4.9c209c","order":16,"width":6,"height":1},{"id":"5c9e835.2320f7c","type":"ui_group","z":"","name":"Default","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"a5947344.482f5","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":27},{"id":"33697c4c.755294","type":"ui_group","z":"","name":"map","tab":"","order":1,"disp":false,"width":24,"collapse":false},{"id":"a1fd564d.fcbc48","type":"ui_group","z":"","name":"charts","tab":"","order":3,"disp":false,"width":27,"collapse":false},{"id":"ece1684c.a56d68","type":"ui_group","z":"","name":"Location","tab":"","order":1,"disp":false,"width":"12","collapse":false},{"id":"c9a4e309.a8529","type":"ui_group","z":"","name":"retrieve and process covid data","tab":"","order":2,"disp":false,"width":"10","collapse":false},{"id":"1b543244.96256e","type":"ui_group","z":"","name":"Add todays data for selected country / province","tab":"","order":4,"disp":true,"width":"8","collapse":false},{"id":"209f287a.e7b6f8","type":"ui_spacer","name":"spacer","group":"c9a4e309.a8529","order":2,"width":5,"height":1},{"id":"3796c019.83f8d","type":"ui_spacer","name":"spacer","group":"c9a4e309.a8529","order":5,"width":4,"height":1},{"id":"fbafadd9.50ecb","type":"ui_spacer","name":"spacer","group":"a1fd564d.fcbc48","order":3,"width":"9","height":"7"},{"id":"5dacb315.e8b7dc","type":"ui_group","z":"","name":"weather today","tab":"","order":2,"disp":true,"width":"12","collapse":false},{"id":"c5b2b8d.7988948","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"b0c06275.91725","type":"ui_group","z":"","name":"Group1","tab":"","order":1,"disp":true,"width":"25","collapse":true},{"id":"30ec5ccf.414254","type":"ui_group","z":"","name":"select","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"ec7a86a8.05f7b8","type":"ui_spacer","name":"spacer","group":"5dacb315.e8b7dc","order":2,"width":1,"height":1},{"id":"b3b49ff8.a0ef8","type":"ui_spacer","name":"spacer","group":"5dacb315.e8b7dc","order":7,"width":4,"height":1},{"id":"fa102b4b.c22b88","type":"ui_spacer","name":"spacer","group":"5dacb315.e8b7dc","order":10,"width":5,"height":1},{"id":"d2c9cd37.07f1","type":"ui_spacer","name":"spacer","group":"5dacb315.e8b7dc","order":13,"width":5,"height":1},{"id":"1797c27f.84c8ee","type":"ui_spacer","name":"spacer","group":"5dacb315.e8b7dc","order":16,"width":5,"height":1},{"id":"62414711.0560f8","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"9e9392b.7b78d7","type":"ui_group","z":"","name":"select a city ","tab":"","order":1,"disp":true,"width":8,"collapse":false},{"id":"f1129135.cee16","type":"ui_group","z":"","name":"forecast","tab":"","order":5,"disp":true,"width":5,"collapse":false},{"id":"4e4c9b06.bbfc44","type":"ui_group","z":"","name":"today","tab":"","order":3,"disp":true,"width":4,"collapse":false},{"id":"ef2d38a0.f7ad18","type":"ui_group","z":"","name":"tomorrow","tab":"","order":4,"disp":true,"width":4,"collapse":false},{"id":"ab771614.825358","type":"ui_group","z":"","name":"in 2 days","tab":"","order":7,"disp":true,"width":4,"collapse":false},{"id":"158d8aa4.997e95","type":"ui_group","z":"","name":"in 3 days","tab":"","order":8,"disp":true,"width":4,"collapse":false},{"id":"97ae6253.1194d","type":"ui_group","z":"","name":"in 4 days","tab":"","order":9,"disp":true,"width":4,"collapse":false},{"id":"2478734d.933c9c","type":"ui_group","z":"","name":"in 5 days","tab":"","order":10,"disp":true,"width":4,"collapse":false},{"id":"8eedaf5e.42af2","type":"ui_group","z":"","name":"max","tab":"","order":2,"disp":false,"width":16,"collapse":false},{"id":"6aec473b.ae8158","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"7794d06a.bf966","type":"ui_spacer","name":"spacer","group":"922862f.ff2d4a","order":9,"width":1,"height":1},{"id":"999a57e8.ea2d58","type":"ui_group","z":"","name":"Forecast","tab":"50d69d2e.ece2a4","order":2,"disp":true,"width":"6"},{"id":"38e7d908.e5d626","type":"ui_group","z":"","name":"Inside temp","tab":"50d69d2e.ece2a4","disp":true,"width":"8"},{"id":"7c9f8dbc.480844","type":"mqtt-broker","z":"","broker":"10.0.1.3","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bb57affe.a45b2","type":"ui_group","z":"","name":"Local weather station","tab":"50d69d2e.ece2a4","disp":true,"width":"6"},{"id":"6bf51d50.ff9574","type":"darksky-credentials","z":"","key_identifier":"darksky"},{"id":"496096bb.954d38","type":"ui_group","z":"","name":"charts","tab":"","order":6,"disp":false,"width":"11","collapse":false},{"id":"210bef55.4583c","type":"ui_group","z":"","name":"Forecast","tab":"","order":2,"disp":true,"width":"6"},{"id":"b8cbb80e.e64208","type":"ui_group","z":"","name":"Inside temp","tab":"","disp":true,"width":"8"},{"id":"d478489b.9c2dc8","type":"mqtt-broker","z":"","broker":"10.0.1.3","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4f366447.bc0f0c","type":"ui_group","z":"","name":"Local weather station","tab":"","disp":true,"width":"6"},{"id":"4f973e57.ebdbe","type":"ui_spacer","name":"spacer","group":"8eedaf5e.42af2","order":4,"width":1,"height":1},{"id":"a7ba08b9.740678","type":"ui_spacer","name":"spacer","group":"8eedaf5e.42af2","order":5,"width":1,"height":1},{"id":"cebdae4d.531b8","type":"ui_spacer","name":"spacer","group":"8eedaf5e.42af2","order":6,"width":1,"height":1},{"id":"49907a41.e63f84","type":"ui_spacer","name":"spacer","group":"496096bb.954d38","order":5,"width":1,"height":1},{"id":"bfcb7e72.0e087","type":"ui_spacer","name":"spacer","group":"496096bb.954d38","order":8,"width":1,"height":1},{"id":"23f75dac.344dd2","type":"ui_spacer","name":"spacer","group":"496096bb.954d38","order":10,"width":1,"height":1},{"id":"9b3ffe0e.6be78","type":"ui_spacer","name":"spacer","group":"496096bb.954d38","order":11,"width":1,"height":1},{"id":"fbe58886.5f0938","type":"ui_spacer","name":"spacer","group":"496096bb.954d38","order":13,"width":6,"height":1},{"id":"32be5e5c.92e852","type":"ui_group","z":"","name":"charts","tab":"","order":4,"disp":false,"width":27,"collapse":false},{"id":"6133e57a.f9f19c","type":"ui_group","z":"","name":"Location1","tab":"","order":2,"disp":true,"width":"12","collapse":false},{"id":"5575500e.9c109","type":"ui_group","z":"","name":"retrieve and process covid data","tab":"","order":1,"disp":false,"width":"27","collapse":false},{"id":"f7ec2266.35bd7","type":"ui_group","z":"","name":"Add new data for Location1","tab":"","order":5,"disp":true,"width":"8","collapse":false},{"id":"69a4cf44.ae52a","type":"ui_spacer","name":"spacer","group":"32be5e5c.92e852","order":3,"width":"9","height":"7"},{"id":"5eb05382.9332dc","type":"ui_group","z":"","name":"choose a second country ","tab":"","order":4,"disp":true,"width":"12","collapse":false},{"id":"b06e910f.43be1","type":"ui_group","z":"","name":"Update charts","tab":"","order":3,"disp":false,"width":"20","collapse":false},{"id":"2b155a13.7e2776","type":"ui_group","z":"","name":"choose a country ","tab":"","order":3,"disp":true,"width":12,"collapse":false},{"id":"aa4a6331.69c3c","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":24},{"id":"a7d9292a.80d288","type":"ui_spacer","name":"spacer","group":"aa4a6331.69c3c","order":2,"width":19,"height":1},{"id":"d4050e88.0e68c","type":"ui_spacer","name":"spacer","group":"aa4a6331.69c3c","order":4,"width":18,"height":1},{"id":"e0870126.d5b7a","type":"ui_spacer","name":"spacer","group":"aa4a6331.69c3c","order":5,"width":18,"height":1},{"id":"1838aa5a.5d4656","type":"ui_spacer","name":"spacer","group":"aa4a6331.69c3c","order":6,"width":18,"height":1},{"id":"6258ab36.6c9f74","type":"ui_spacer","name":"spacer","group":"aa4a6331.69c3c","order":7,"width":18,"height":1},{"id":"a425fbbc.e769f8","type":"ui_spacer","name":"spacer","group":"aa4a6331.69c3c","order":8,"width":18,"height":1},{"id":"9dcf90b7.c776c","type":"ui_spacer","name":"spacer","group":"aa4a6331.69c3c","order":9,"width":18,"height":1},{"id":"82131778.70ae38","type":"ui_spacer","name":"spacer","group":"aa4a6331.69c3c","order":10,"width":18,"height":1},{"id":"6692eaf3.363304","type":"ui_spacer","name":"spacer","group":"aa4a6331.69c3c","order":11,"width":18,"height":1},{"id":"d4b27d4.8804e8","type":"ui_spacer","name":"spacer","group":"aa4a6331.69c3c","order":13,"width":19,"height":1},{"id":"dcfda56e.6bbd98","type":"ui_spacer","name":"spacer","group":"aa4a6331.69c3c","order":15,"width":18,"height":1},{"id":"4ad73f37.78d38","type":"ui_spacer","name":"spacer","group":"aa4a6331.69c3c","order":16,"width":18,"height":1},{"id":"43fe29ac.65f3b8","type":"ui_spacer","name":"spacer","group":"aa4a6331.69c3c","order":17,"width":18,"height":1},{"id":"7553bcf9.800a04","type":"ui_spacer","name":"spacer","group":"aa4a6331.69c3c","order":18,"width":18,"height":1},{"id":"e627a9a1.2e27c8","type":"ui_spacer","name":"spacer","group":"aa4a6331.69c3c","order":19,"width":18,"height":1},{"id":"808d9628.730858","type":"ui_spacer","name":"spacer","group":"aa4a6331.69c3c","order":20,"width":18,"height":1},{"id":"a75baf84.3beb3","type":"ui_spacer","name":"spacer","group":"aa4a6331.69c3c","order":21,"width":18,"height":1},{"id":"f02aafb0.08e0e","type":"ui_spacer","name":"spacer","group":"aa4a6331.69c3c","order":22,"width":18,"height":1},{"id":"35efb2c6.07431e","type":"ui_spacer","name":"spacer","group":"aa4a6331.69c3c","order":24,"width":19,"height":1},{"id":"d95d7439.56b9f8","type":"ui_spacer","name":"spacer","group":"aa4a6331.69c3c","order":26,"width":18,"height":1},{"id":"ee22a805.320e78","type":"ui_spacer","name":"spacer","group":"aa4a6331.69c3c","order":27,"width":18,"height":1},{"id":"f1736f8c.27dcf","type":"ui_spacer","name":"spacer","group":"aa4a6331.69c3c","order":28,"width":18,"height":1},{"id":"846122f.276e4e","type":"ui_spacer","name":"spacer","group":"aa4a6331.69c3c","order":29,"width":18,"height":1},{"id":"119dbfd2.3fe01","type":"ui_spacer","name":"spacer","group":"aa4a6331.69c3c","order":30,"width":18,"height":1},{"id":"daa3f787.160928","type":"ui_spacer","name":"spacer","group":"aa4a6331.69c3c","order":31,"width":18,"height":1},{"id":"b24304f3.480f08","type":"ui_spacer","name":"spacer","group":"aa4a6331.69c3c","order":32,"width":18,"height":1},{"id":"62e8d214.ad419c","type":"ui_spacer","name":"spacer","group":"aa4a6331.69c3c","order":33,"width":18,"height":1},{"id":"cdc8323a.f950f","type":"ui_spacer","name":"spacer","group":"aa4a6331.69c3c","order":35,"width":18,"height":1},{"id":"237c4b19.967cd4","type":"ui_spacer","name":"spacer","group":"aa4a6331.69c3c","order":36,"width":18,"height":1},{"id":"71b22b3e.9a9864","type":"ui_spacer","name":"spacer","group":"aa4a6331.69c3c","order":37,"width":18,"height":1},{"id":"1d94429f.96833d","type":"ui_spacer","name":"spacer","group":"aa4a6331.69c3c","order":38,"width":18,"height":1},{"id":"47171457.1b80ac","type":"ui_spacer","name":"spacer","group":"aa4a6331.69c3c","order":39,"width":18,"height":1},{"id":"d68fff18.4279","type":"ui_spacer","name":"spacer","group":"aa4a6331.69c3c","order":40,"width":18,"height":1},{"id":"fbf97ed4.c7c14","type":"ui_spacer","name":"spacer","group":"aa4a6331.69c3c","order":41,"width":18,"height":1},{"id":"b89af32c.202dd","type":"ui_spacer","name":"spacer","group":"aa4a6331.69c3c","order":42,"width":18,"height":1},{"id":"dc2ad33e.b6d3e","type":"ui_spacer","name":"spacer","group":"aa4a6331.69c3c","order":45,"width":19,"height":1},{"id":"bd2d4db3.7d924","type":"ui_spacer","name":"spacer","group":"aa4a6331.69c3c","order":46,"width":19,"height":1},{"id":"c7ab6f4d.91d76","type":"ui_spacer","name":"spacer","group":"aa4a6331.69c3c","order":48,"width":20,"height":1},{"id":"752c0d6c.1dd224","type":"ui_group","z":"","name":"chart","tab":"","order":1,"disp":false,"width":"10","collapse":false},{"id":"4079abe0.db84d4","type":"ui_group","z":"","name":"table","tab":"","order":2,"disp":false,"width":"14","collapse":false},{"id":"ab31757d.5bc0d8","type":"ui_group","z":"","name":"Latest news","tab":"","order":3,"disp":true,"width":"24","collapse":true},{"id":"90d96f79.2119f","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":false,"width":"24","collapse":false},{"id":"2cad67a5.198918","type":"ui_group","z":"","name":"Raumklima","tab":"","order":5,"disp":true,"width":"6","collapse":true},{"id":"c417d9b7.5420d8","type":"ui_group","z":"","name":"Raumklima","tab":"","order":5,"disp":true,"width":"6","collapse":true},{"id":"3b95b8e7.2ba7b8","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"2550bf08.26291","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"2409295e.c54086","type":"ui_group","z":"","name":"Raumklima","tab":"","order":5,"disp":true,"width":"6","collapse":true},{"id":"d82c3eef.3f9d8","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"3ba35d63.0003b2","type":"ui_group","z":"","name":"Group 4","tab":"","order":5,"disp":false,"width":"24","collapse":false},{"id":"a3c0fd29.64f11","type":"ui_group","z":"","name":"Group 6","tab":"","order":6,"disp":false,"width":"12","collapse":false},{"id":"c38e763c.9d83f8","type":"ui_group","z":"","name":"Group 7","tab":"","order":7,"disp":false,"width":"12","collapse":false},{"id":"c2f32545.b84958","type":"ui_group","z":"","name":"Group 8","tab":"","order":8,"disp":false,"width":"12","collapse":false},{"id":"f1be5de1.945dc","type":"ui_group","z":"","name":"Group 9","tab":"","order":9,"disp":false,"width":"12","collapse":false},{"id":"3f473845.3e29b8","type":"ui_spacer","name":"spacer","group":"2b155a13.7e2776","order":3,"width":1,"height":1},{"id":"612b427d.53278c","type":"ui_spacer","name":"spacer","group":"2b155a13.7e2776","order":5,"width":6,"height":1},{"id":"aef329e1.9006b8","type":"ui_spacer","name":"spacer","group":"3ba35d63.0003b2","order":3,"width":1,"height":1},{"id":"5c31e96.98cbf18","type":"ui_spacer","name":"spacer","group":"752c0d6c.1dd224","order":3,"width":2,"height":1},{"id":"8c7ff5b8.0abf28","type":"ui_spacer","name":"spacer","group":"752c0d6c.1dd224","order":15,"width":7,"height":1},{"id":"d9263ea1.5bfcb","type":"ui_spacer","name":"spacer","group":"ab31757d.5bc0d8","order":3,"width":4,"height":1},{"id":"5fab576b.d5fcb8","type":"ui_group","z":"","name":"select a city ","tab":null,"order":1,"disp":true,"width":8,"collapse":false},{"id":"29fc6992.a7fea6","type":"ui_group","z":"","name":"forecast","tab":null,"order":5,"disp":true,"width":5,"collapse":false},{"id":"a33797ab.1ded48","type":"ui_group","z":"","name":"today","tab":null,"order":3,"disp":true,"width":4,"collapse":false},{"id":"76aa3bf9.4c56d4","type":"ui_group","z":"","name":"tomorrow","tab":null,"order":4,"disp":true,"width":4,"collapse":false},{"id":"7c44f354.3626ac","type":"ui_group","z":"","name":"in 2 days","tab":null,"order":7,"disp":true,"width":4,"collapse":false},{"id":"109d5635.d69a8a","type":"ui_group","z":"","name":"in 3 days","tab":null,"order":8,"disp":true,"width":4,"collapse":false},{"id":"6db7d403.6ed63c","type":"ui_group","z":"","name":"in 4 days","tab":null,"order":9,"disp":true,"width":4,"collapse":false},{"id":"1d4234c1.b3cebb","type":"ui_group","z":"","name":"in 5 days","tab":null,"order":10,"disp":true,"width":4,"collapse":false},{"id":"2fd6febf.167502","type":"ui_group","z":"","name":"max","tab":null,"order":2,"disp":false,"width":16,"collapse":false},{"id":"9b0dad53.97ef2","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"4277cdee.1710c4","type":"ui_group","z":"","name":"Weather report for this location...","tab":"","order":1,"disp":true,"width":"12","collapse":false},{"id":"63ef8b75.c71f34","type":"ui_group","z":"","name":"charts","tab":null,"order":6,"disp":false,"width":"11","collapse":false},{"id":"ea71a79e.ad0328","type":"ui_group","z":"","name":"select a city ","tab":"","order":1,"disp":true,"width":8,"collapse":false},{"id":"ce95bbdd.0a9618","type":"ui_group","z":"","name":"forecast","tab":"","order":5,"disp":true,"width":5,"collapse":false},{"id":"2601d606.a5ae2a","type":"ui_group","z":"","name":"today","tab":"","order":3,"disp":true,"width":4,"collapse":false},{"id":"e1b98812.796988","type":"ui_group","z":"","name":"tomorrow","tab":"","order":4,"disp":true,"width":4,"collapse":false},{"id":"41df988.476ae68","type":"ui_group","z":"","name":"in 2 days","tab":"","order":7,"disp":true,"width":4,"collapse":false},{"id":"e222380f.2a5458","type":"ui_group","z":"","name":"in 3 days","tab":"","order":8,"disp":true,"width":4,"collapse":false},{"id":"4d586157.824f9","type":"ui_group","z":"","name":"in 4 days","tab":"","order":9,"disp":true,"width":4,"collapse":false},{"id":"6be81789.b84ad8","type":"ui_group","z":"","name":"in 5 days","tab":"","order":10,"disp":true,"width":4,"collapse":false},{"id":"776fcaa4.47eea4","type":"ui_group","z":"","name":"max","tab":"","order":2,"disp":false,"width":16,"collapse":false},{"id":"b9d9414b.034b3","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"94149eb5.b0cfb","type":"ui_group","z":"","name":"Weather report for this location...","tab":"","order":1,"disp":true,"width":"12","collapse":false},{"id":"d033f5fc.2c4588","type":"ui_group","z":"","name":"charts","tab":"","order":6,"disp":false,"width":"11","collapse":false},{"id":"2b7169ba.e255f6","type":"ui_spacer","name":"spacer","group":"776fcaa4.47eea4","order":4,"width":1,"height":1},{"id":"fded23b5.632aa","type":"ui_spacer","name":"spacer","group":"776fcaa4.47eea4","order":5,"width":1,"height":1},{"id":"b882b2dc.84a49","type":"ui_spacer","name":"spacer","group":"776fcaa4.47eea4","order":6,"width":1,"height":1},{"id":"a6b901c8.06ab6","type":"ui_spacer","name":"spacer","group":"d033f5fc.2c4588","order":6,"width":1,"height":1},{"id":"232af67a.ff69aa","type":"ui_spacer","name":"spacer","group":"d033f5fc.2c4588","order":9,"width":1,"height":1},{"id":"fee54cf6.ef0dc","type":"ui_spacer","name":"spacer","group":"d033f5fc.2c4588","order":10,"width":1,"height":1},{"id":"44b49b33.b1ea24","type":"ui_spacer","name":"spacer","group":"d033f5fc.2c4588","order":11,"width":1,"height":1},{"id":"bfed900b.b8485","type":"ui_group","z":"","name":"choose a country ","tab":"fbc0328c.02a21","order":3,"disp":true,"width":12,"collapse":false},{"id":"372b3f99.ad67","type":"ui_group","z":"","name":"Group 4","tab":"fbc0328c.02a21","order":5,"disp":false,"width":"24","collapse":false},{"id":"c1fb2092.b99bb","type":"ui_group","z":"","name":"Group 6","tab":"fbc0328c.02a21","order":6,"disp":false,"width":"12","collapse":false},{"id":"aa5b96b9.6d8a38","type":"ui_group","z":"","name":"Group 7","tab":"fbc0328c.02a21","order":7,"disp":false,"width":"12","collapse":false},{"id":"1dcdbced.bcb0b3","type":"ui_group","z":"","name":"Group 8","tab":"fbc0328c.02a21","order":8,"disp":false,"width":"12","collapse":false},{"id":"6e0d6db3.c82ae4","type":"ui_group","z":"","name":"Group 9","tab":"fbc0328c.02a21","order":9,"disp":false,"width":"12","collapse":false},{"id":"f27f4f03.8ccff","type":"ui_group","z":"","name":"choose a country of comparison","tab":"fbc0328c.02a21","order":4,"disp":true,"width":"12","collapse":false},{"id":"4c4013a1.18be0c","type":"ui_group","z":"","name":"map","tab":"fbc0328c.02a21","order":1,"disp":false,"width":"24","collapse":false},{"id":"fbc0328c.02a21","type":"ui_tab","z":"","name":"Covid19","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"479307e0.df6758","type":"ui_group","z":"","name":"map","tab":"","order":1,"disp":false,"width":24,"collapse":false},{"id":"1229535d.e246bd","type":"ui_spacer","name":"spacer","group":"bfed900b.b8485","order":3,"width":1,"height":1},{"id":"633d086d.abaf08","type":"ui_spacer","name":"spacer","group":"bfed900b.b8485","order":5,"width":6,"height":1},{"id":"454d2469.6d426c","type":"ui_spacer","name":"spacer","group":"372b3f99.ad67","order":4,"width":1,"height":1},{"id":"897b215e.8cc1c","type":"ui_group","z":"","name":"chart","tab":"f040183f.bb88c8","order":1,"disp":false,"width":"10","collapse":false},{"id":"7be55d70.2a9764","type":"ui_group","z":"","name":"table","tab":"f040183f.bb88c8","order":2,"disp":false,"width":"14","collapse":false},{"id":"9470d6ce.493678","type":"ui_group","z":"","name":"Latest news","tab":"f040183f.bb88c8","order":3,"disp":true,"width":"24","collapse":true},{"id":"f040183f.bb88c8","type":"ui_tab","z":"","name":"cyptocurrency","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"a0143d88.a96e7","type":"ui_spacer","name":"spacer","group":"897b215e.8cc1c","order":3,"width":2,"height":1},{"id":"78224251.747d7c","type":"ui_spacer","name":"spacer","group":"897b215e.8cc1c","order":15,"width":7,"height":1},{"id":"fac8e246.031a5","type":"ui_spacer","name":"spacer","group":"9470d6ce.493678","order":3,"width":4,"height":1},{"id":"ed0bd4df.d55f28","type":"ui_group","z":"","name":"COVID Stats","tab":"","order":2,"disp":true,"width":"12","collapse":false},{"id":"ea9153fa.ba4c2","type":"ui_group","z":"","name":"Search","tab":"","order":1,"disp":true,"width":"8","collapse":false},{"id":"9cca8137.03414","type":"ui_group","z":"","name":"Country Reports","tab":"","order":3,"disp":true,"width":"8","collapse":false},{"id":"f131e30e.e2e3b","type":"covapikey","z":"","name":"9d2908c81003444ea908c81003b44ed4"},{"id":"f412e4c2.9d1dd8","type":"ui_tab","z":"","name":"news","icon":"web","order":14,"disabled":false,"hidden":false},{"id":"78ed1af2.0fbdd4","type":"ui_group","z":"","name":"select a city ","tab":"177ac162.abf49f","order":1,"disp":true,"width":8,"collapse":false},{"id":"d37616d.bc3d6e8","type":"ui_group","z":"","name":"forecast","tab":"177ac162.abf49f","order":5,"disp":true,"width":16,"collapse":false},{"id":"34ba5e83.8b8582","type":"ui_group","z":"","name":"today","tab":"177ac162.abf49f","order":3,"disp":true,"width":4,"collapse":false},{"id":"393b4402.3392fc","type":"ui_group","z":"","name":"tomorrow","tab":"177ac162.abf49f","order":4,"disp":true,"width":4,"collapse":false},{"id":"ac3a1f43.c9cbf","type":"ui_group","z":"","name":"in 2 days","tab":"177ac162.abf49f","order":6,"disp":true,"width":4,"collapse":false},{"id":"b30f0c4c.692c3","type":"ui_group","z":"","name":"in 3 days","tab":"177ac162.abf49f","order":7,"disp":true,"width":4,"collapse":false},{"id":"f65e0dd2.dfc4c","type":"ui_group","z":"","name":"in 4 days","tab":"177ac162.abf49f","order":9,"disp":true,"width":4,"collapse":false},{"id":"3212c8d.dcfdd38","type":"ui_group","z":"","name":"in 5 days","tab":"177ac162.abf49f","order":10,"disp":true,"width":4,"collapse":false},{"id":"910698c9.627fb8","type":"ui_group","z":"","name":"max","tab":"177ac162.abf49f","order":2,"disp":false,"width":16,"collapse":false},{"id":"85a87e2f.995e3","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"ba34475d.7b2348","type":"ui_group","z":"","name":"Weather report for this location...","tab":"","order":1,"disp":true,"width":"12","collapse":false},{"id":"1daf6245.48da3e","type":"ui_group","z":"","name":"charts","tab":"177ac162.abf49f","order":8,"disp":false,"width":16,"collapse":false},{"id":"177ac162.abf49f","type":"ui_tab","z":"","name":"weather","icon":"wi-wu-sunny","order":14,"disabled":false,"hidden":false},{"id":"3ceeecac.367b64","type":"ui_spacer","name":"spacer","group":"910698c9.627fb8","order":4,"width":1,"height":1},{"id":"1bc386a0.42d609","type":"ui_spacer","name":"spacer","group":"910698c9.627fb8","order":5,"width":1,"height":1},{"id":"e169998c.a856b8","type":"ui_spacer","name":"spacer","group":"910698c9.627fb8","order":6,"width":1,"height":1},{"id":"fba5e202.235b1","type":"ui_spacer","name":"spacer","group":"d37616d.bc3d6e8","order":3,"width":1,"height":1},{"id":"b3701f53.c562e","type":"ui_spacer","name":"spacer","group":"d37616d.bc3d6e8","order":6,"width":6,"height":1},{"id":"206db6d2.5071ca","type":"ui_spacer","name":"spacer","group":"d37616d.bc3d6e8","order":17,"width":1,"height":1},{"id":"35fc13c9.78b69c","type":"ui_group","z":"","name":"cryptocurrency","tab":"f412e4c2.9d1dd8","order":1,"disp":true,"width":"24","collapse":true},{"id":"1e38d375.19564d","type":"ui_group","z":"","name":"COVID19","tab":"f412e4c2.9d1dd8","order":2,"disp":true,"width":24,"collapse":true},{"id":"723a4302.e7e15c","type":"ui_spacer","name":"spacer","group":"35fc13c9.78b69c","order":3,"width":2,"height":1},{"id":"ee7c73dc.5f546","type":"ui_spacer","name":"spacer","group":"35fc13c9.78b69c","order":6,"width":10,"height":1},{"id":"ca8724ad.b82da8","type":"ui_spacer","name":"spacer","group":"35fc13c9.78b69c","order":19,"width":7,"height":1},{"id":"29bcdc1b.657564","type":"ui_spacer","name":"spacer","group":"35fc13c9.78b69c","order":23,"width":11,"height":1},{"id":"1bf59c6.07e2664","type":"ui_spacer","name":"spacer","group":"35fc13c9.78b69c","order":26,"width":12,"height":1},{"id":"7f80c4af.872a1c","type":"ui_spacer","name":"spacer","group":"1e38d375.19564d","order":4,"width":6,"height":1},{"id":"8c5565e5.4939a8","type":"ui_spacer","name":"spacer","group":"1e38d375.19564d","order":7,"width":6,"height":1},{"id":"d62c464c.1d1148","type":"ui_spacer","name":"spacer","group":"1e38d375.19564d","order":13,"width":5,"height":1},{"id":"bf6c8e5c.42001","type":"ui_spacer","name":"spacer","group":"1e38d375.19564d","order":19,"width":1,"height":1},{"id":"22425973.122136","type":"http request","z":"efb296b3.de5398","name":"get url","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":140,"wires":[["2f9ad7cc.683498"]]},{"id":"2f9ad7cc.683498","type":"csv","z":"efb296b3.de5398","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":530,"y":140,"wires":[["c64e97b5.ee9998"]]},{"id":"a7e11354.cb55","type":"function","z":"efb296b3.de5398","name":"create url according to date ","func":"function getFormattedDate(date) {\n    let year = date.getFullYear();\n    let month = (1 + date.getMonth()).toString().padStart(2, '0');\n    let day = date.getDate().toString().padStart(2, '0');\n  \n    return month + '-' + day + '-' + year;\n}\n\nvar date = new Date();\ndate.setDate(date.getDate() - 1);\nyesterday = getFormattedDate(date)\n\nurl = \"https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/\"+yesterday+\".csv\"\n\nreturn {url:url}","outputs":1,"noerr":0,"x":200,"y":140,"wires":[["22425973.122136"]]},{"id":"d8abfca1.c84c5","type":"status","z":"efb296b3.de5398","name":"","scope":["593592b7.2ef55c"],"x":120,"y":80,"wires":[["c43f1177.27431"]]},{"id":"c43f1177.27431","type":"switch","z":"efb296b3.de5398","name":"","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"connected 0","vt":"str"},{"t":"cont","v":"connected","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":250,"y":80,"wires":[[],["a7e11354.cb55"]]},{"id":"c64e97b5.ee9998","type":"function","z":"efb296b3.de5398","name":"label popup and color","func":"Number.prototype.between = function(a, b) {\n  var min = Math.min(a, b),\n    max = Math.max(a, b);\n\n  return this > min && this < max;\n};\n\n//////////\n\nm = msg.payload\n\nconfirmed = m.Confirmed;\ndeaths = msg.payload.Deaths\ncountry = m[\"Country_Region\"]\n\nif(m.hasOwnProperty(\"Province_State\")){\n    province = \"(\"+m[\"Province_State\"]+\")\"\n} else{\n    province = \"\"\n}\nlon = m.Long_\nlat = m.Lat\n\n\nif(confirmed>1000){\n    c = \"#D9100D\"    \n}\nif(confirmed.between(750,1000)){\n  c = \"#D9340D\"  \n} \nif(confirmed.between(500,750)){\n  c = \"#D9590D\"  \n} \nif(confirmed.between(250,500)){\n  c = \"#D97D0D\"  \n} \nif(confirmed.between(100,250)){\n  c = \"#D9A20D\"  \n} \nif(confirmed.between(50,100)){\n  c = \"#D9B40D\"  \n} \nif(confirmed.between(1,50)){\n  c = \"#D3D408\"  \n} \nif(confirmed === 0){\n  return\n} \n    \n\ntooltip = `Country: ${country} ${province}<br/>Confirmed: ${confirmed}<br/>Deaths: ${deaths}<br/>`\nlabel = country +\" \"+province\nreturn {payload:{name:label,lon:lon,lat:lat,popup:tooltip,\"icon\":\"fa-circle\",iconColor:c}}","outputs":1,"noerr":0,"x":700,"y":140,"wires":[["593592b7.2ef55c"]]},{"id":"4864b3ae.f78d4c","type":"ui_button","z":"ca8899ed.cba3c8","name":"0","group":"35fc13c9.78b69c","order":9,"width":1,"height":1,"passthru":false,"label":"{{msg.data[0].CoinInfo.Name}}","tooltip":"","color":"","bgcolor":"rgb(34, 167, 240)","icon":"","payload":"data[0].CoinInfo.Name","payloadType":"flow","topic":"","x":1110,"y":200,"wires":[["7fd307ee.c05828"]]},{"id":"30ad060b.25d67a","type":"http request","z":"ca8899ed.cba3c8","name":"get url","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1610,"y":360,"wires":[["29c01b4a.4b6e34"]]},{"id":"b42700f5.8bd43","type":"change","z":"ca8899ed.cba3c8","name":"create data array for chart","rules":[{"t":"set","p":"payload.name","pt":"msg","to":"name","tot":"flow"},{"t":"set","p":"payload.choice","pt":"msg","to":"choice","tot":"msg"},{"t":"set","p":"payload.base","pt":"msg","to":"base","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"([{\t \"series\": [ payload.name &\" \"&choice&\" in \"&payload.base ],\t \"data\" : [ \t    [$map(data,\t      function($v, $i, $a) { { \"x\": $fromMillis($v.time,'[M01]/[D01]/[Y0001]'),\t                               \"y\": $v.high } } )]\t      ],\t \"labels\": [\"\"]\t }])\t\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1630,"y":460,"wires":[["5c3fd03.8daf23"]]},{"id":"5c3fd03.8daf23","type":"ui_chart","z":"ca8899ed.cba3c8","name":"","group":"35fc13c9.78b69c","order":7,"width":10,"height":6,"label":"","chartType":"line","legend":"true","xformat":"Y-M-D","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#4abce1","#0433ff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1590,"y":520,"wires":[[]]},{"id":"75399f8a.453b7","type":"ui_button","z":"ca8899ed.cba3c8","name":"1","group":"35fc13c9.78b69c","order":10,"width":1,"height":1,"passthru":false,"label":"{{msg.data[1].CoinInfo.Name}}","tooltip":"","color":"","bgcolor":"rgb(34, 167, 240)","icon":"","payload":"data[1].CoinInfo.Name","payloadType":"flow","topic":"","x":1110,"y":240,"wires":[["7fd307ee.c05828"]]},{"id":"18f4d0d1.041f9f","type":"http request","z":"ca8899ed.cba3c8","name":"get top 10 oredered by total vol","method":"GET","ret":"obj","paytoqs":false,"url":"https://min-api.cryptocompare.com/data/top/totaltoptiervolfull?limit=10&tsym=USD","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":280,"wires":[["57efaf19.f06e5","124afe4e.613532","3cc674b8.410eec"]]},{"id":"c3bf3d5d.20ca8","type":"ui_table","z":"ca8899ed.cba3c8","group":"35fc13c9.78b69c","name":"","order":8,"width":13,"height":7,"columns":[],"outputs":0,"cts":false,"x":890,"y":280,"wires":[]},{"id":"57efaf19.f06e5","type":"function","z":"ca8899ed.cba3c8","name":"create table","func":"var tab=[];\nvar data=msg.payload.Data ; \nfor(var i=0;i<10;i++)\n { \n     var object ={\n         Rank : i+1,\n         Coin :data[i].CoinInfo.FullName,\n         Price : data[i].DISPLAY.USD.PRICE ,\n         TotalVol : data[i].DISPLAY.USD.TOTALVOLUME24HTO,\n         TIERVOL : data[i].DISPLAY.USD.TOTALTOPTIERVOLUME24HTO,\n         MarketCap:data[i].DISPLAY.USD.MKTCAP,\n         change24H: data[i].DISPLAY.USD.CHANGEPCT24HOUR+\"%\"\n     };\n     tab[i]=object ;\n }\n msg.payload = tab ;\n\n return msg ;","outputs":1,"noerr":0,"x":670,"y":280,"wires":[["c3bf3d5d.20ca8"]]},{"id":"ac17d870.e1e838","type":"inject","z":"ca8899ed.cba3c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"1800","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":280,"wires":[["ab51361c.d3b6f8","18f4d0d1.041f9f","cd2d78df.9a4c78"]]},{"id":"7f58f109.c29e7","type":"ui_button","z":"ca8899ed.cba3c8","name":"2","group":"35fc13c9.78b69c","order":11,"width":1,"height":1,"passthru":false,"label":"{{msg.data[2].CoinInfo.Name}}","tooltip":"","color":"","bgcolor":"rgb(34, 167, 240)","icon":"","payload":"data[2].CoinInfo.Name","payloadType":"flow","topic":"","x":1110,"y":280,"wires":[["7fd307ee.c05828"]]},{"id":"4babd532.7d800c","type":"ui_button","z":"ca8899ed.cba3c8","name":"3","group":"35fc13c9.78b69c","order":12,"width":1,"height":1,"passthru":false,"label":"{{msg.data[3].CoinInfo.Name}}","tooltip":"","color":"","bgcolor":"rgb(34, 167, 240)","icon":"","payload":"data[3].CoinInfo.Name","payloadType":"flow","topic":"","x":1110,"y":320,"wires":[["7fd307ee.c05828"]]},{"id":"124afe4e.613532","type":"change","z":"ca8899ed.cba3c8","name":"get the top 10 currencies","rules":[{"t":"set","p":"data","pt":"flow","to":"payload.Data","tot":"msg"},{"t":"set","p":"data","pt":"msg","to":"data","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":140,"wires":[["4864b3ae.f78d4c","75399f8a.453b7","7f58f109.c29e7","4babd532.7d800c","14268aaf.a7bcc5","995c4075.56026","da271aed.0484e8","790ca46e.e4983c","d544beb8.fc92c","9b66ef85.74692"]]},{"id":"9b66ef85.74692","type":"ui_button","z":"ca8899ed.cba3c8","name":"9","group":"35fc13c9.78b69c","order":18,"width":1,"height":1,"passthru":false,"label":"{{msg.data[9].CoinInfo.Name}}","tooltip":"","color":"","bgcolor":"rgb(34, 167, 240)","icon":"","payload":"data[9].CoinInfo.Name","payloadType":"flow","topic":"","x":1110,"y":560,"wires":[["7fd307ee.c05828"]]},{"id":"d544beb8.fc92c","type":"ui_button","z":"ca8899ed.cba3c8","name":"8","group":"35fc13c9.78b69c","order":17,"width":1,"height":1,"passthru":false,"label":"{{msg.data[8].CoinInfo.Name}}","tooltip":"","color":"","bgcolor":"rgb(34, 167, 240)","icon":"","payload":"data[8].CoinInfo.Name","payloadType":"flow","topic":"","x":1110,"y":520,"wires":[["7fd307ee.c05828"]]},{"id":"790ca46e.e4983c","type":"ui_button","z":"ca8899ed.cba3c8","name":"7","group":"35fc13c9.78b69c","order":16,"width":1,"height":1,"passthru":false,"label":"{{msg.data[7].CoinInfo.Name}}","tooltip":"","color":"","bgcolor":"rgb(34, 167, 240)","icon":"","payload":"data[7].CoinInfo.Name","payloadType":"flow","topic":"","x":1110,"y":480,"wires":[["7fd307ee.c05828"]]},{"id":"da271aed.0484e8","type":"ui_button","z":"ca8899ed.cba3c8","name":"6","group":"35fc13c9.78b69c","order":15,"width":1,"height":1,"passthru":false,"label":"{{msg.data[6].CoinInfo.Name}}","tooltip":"","color":"","bgcolor":"rgb(34, 167, 240)","icon":"","payload":"data[6].CoinInfo.Name","payloadType":"flow","topic":"","x":1110,"y":440,"wires":[["7fd307ee.c05828"]]},{"id":"995c4075.56026","type":"ui_button","z":"ca8899ed.cba3c8","name":"5","group":"35fc13c9.78b69c","order":14,"width":1,"height":1,"passthru":false,"label":"{{msg.data[5].CoinInfo.Name}}","tooltip":"","color":"","bgcolor":"rgb(34, 167, 240)","icon":"","payload":"data[5].CoinInfo.Name","payloadType":"flow","topic":"","x":1110,"y":400,"wires":[["7fd307ee.c05828"]]},{"id":"14268aaf.a7bcc5","type":"ui_button","z":"ca8899ed.cba3c8","name":"4","group":"35fc13c9.78b69c","order":13,"width":1,"height":1,"passthru":false,"label":"{{msg.data[4].CoinInfo.Name}}","tooltip":"","color":"","bgcolor":"rgb(34, 167, 240)","icon":"","payload":"data[4].CoinInfo.Name","payloadType":"flow","topic":"","x":1110,"y":360,"wires":[["7fd307ee.c05828"]]},{"id":"29c01b4a.4b6e34","type":"function","z":"ca8899ed.cba3c8","name":"fix data time","func":"var date , high , i ;\nif(flow.get('key')==\"symbol\")\n{\n    msg.data=msg.payload.Data;\n    for( i=0 ; i<61;i++)\n    {\n        date =msg.data[i].time*1000;\n        msg.data[i].time=date;\n        high=msg.data[i].total_volume_total;\n        msg.data[i].high=high;\n    }\n    msg.choice=\"total volume\";\n    msg.base=flow.get(\"base\");\n}\nif(flow.get('key')==\"v2\") {\nmsg.data=msg.payload.Data.Data ;\nfor( i=0 ; i<61;i++)\n {  date = msg.data[i].time* 1000;\n    msg.data[i].time=date;\n}\n     msg.choice=\"price\";\n     msg.base=flow.get(\"base\");\n}\nreturn msg;","outputs":1,"noerr":0,"x":1610,"y":420,"wires":[["b42700f5.8bd43"]]},{"id":"9a22ad4f.ee21f","type":"ui_dropdown","z":"ca8899ed.cba3c8","name":"display volume or price","label":"","tooltip":"","place":"Select option","group":"35fc13c9.78b69c","order":20,"width":3,"height":1,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1620,"y":240,"wires":[["12d1fb43.535725"]]},{"id":"12d1fb43.535725","type":"function","z":"ca8899ed.cba3c8","name":"create url","func":"flow.set('key',msg.payload);\nmsg.url=\"https://min-api.cryptocompare.com/data/\"+msg.payload+\"/histoday?fsym=\"+flow.get(\"name\")+\"&tsym=\"+flow.get(\"base\")+\"&limit=60\";\nreturn msg;","outputs":1,"noerr":0,"x":1600,"y":300,"wires":[["30ad060b.25d67a"]]},{"id":"7fd307ee.c05828","type":"change","z":"ca8899ed.cba3c8","name":"options/payload/flow.name","rules":[{"t":"set","p":"name","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"options","pt":"msg","to":"[{\"price\":\"v2\"},{\"volume\":\"symbol\"}]","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"v2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":180,"wires":[["9a22ad4f.ee21f"]]},{"id":"dabde76f.a39cc8","type":"ui_dropdown","z":"ca8899ed.cba3c8","name":"base currency","label":"","tooltip":"","place":"Select option","group":"35fc13c9.78b69c","order":2,"width":3,"height":1,"passthru":true,"options":[{"label":"USD","value":"USD","type":"str"},{"label":"EUR","value":"EUR","type":"str"},{"label":"USDT","value":"USDT","type":"str"},{"label":"BTC","value":"BTC","type":"str"},{"label":"GBP","value":"GBP","type":"str"},{"label":"JPY","value":"JPY","type":"str"},{"label":"KRW","value":"KRW","type":"str"}],"payload":"","topic":"","x":480,"y":120,"wires":[["937d8dc5.8f4b4"]]},{"id":"ab51361c.d3b6f8","type":"change","z":"ca8899ed.cba3c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"USD","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":120,"wires":[["dabde76f.a39cc8"]]},{"id":"937d8dc5.8f4b4","type":"change","z":"ca8899ed.cba3c8","name":"","rules":[{"t":"set","p":"base","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":120,"wires":[["50a6ccd1.c42fa4"]]},{"id":"50a6ccd1.c42fa4","type":"link out","z":"ca8899ed.cba3c8","name":"","links":[],"x":815,"y":120,"wires":[]},{"id":"61d58d44.bb85c4","type":"ui_template","z":"ca8899ed.cba3c8","group":"35fc13c9.78b69c","name":"CSS: ui-table","order":21,"width":13,"height":1,"format":"<style>\n\n/* Tabelle selbst formatieren*/\n\n  .tabulator{padding-left:2px;border:0px solid #BBB;background-color:#202529;font-size:18px}\n\n/* Header formatieren */\n  .tabulator .tabulator-header{border-bottom:1px solid #BBB;background-color:#202529}\n  .tabulator-col-content{background-color:#202529;height:37px}\n  .tabulator .tabulator-header .tabulator-col{border-right:0px solid #aaa;background-color:#202529}\n  .tabulator-arrow{visibility: collapse;}\n  .tabulator .tabulator-header .tabulator-col.tabulator-sortable .tabulator-col-title {padding-right: 2px;}\n\n/* Zellen formatieren*/\n  .tabulator-row{min-height:31px;background-color:#181c1f}\n  .tabulator-row:nth-child(2n){background-color:#202529}\n  .tabulator-row .tabulator-cell{border-right:0px solid #888; padding-top: 4px;}\n\n\n</style>\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":870,"y":320,"wires":[[]]},{"id":"acffa33b.6cf47","type":"http request","z":"ca8899ed.cba3c8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":540,"wires":[["6edd1b48.7fc9e4"]]},{"id":"6edd1b48.7fc9e4","type":"ui_template","z":"ca8899ed.cba3c8","group":"35fc13c9.78b69c","name":"display news","order":27,"width":24,"height":16,"format":"<html>\n    \n    <head>\n        <meta charset=\"utf-8\">\n        <style>\n.thumb-link {\n\nfont-family: open sans,sans-serif;\nfont-weight: 400;\nfont-size: 14px;\ntext-align: left;\nbox-sizing: border-box;\nbackground-color: transparent;\ncolor: #337ab7;\ntext-decoration: none;\n            }\n.img-responsive{\n\nfont-family: open sans,sans-serif;\nfont-weight: 400;\nfont-size: 14px;\ntext-align: left;\ncolor: #337ab7;\nbox-sizing: border-box;\nborder: 0;\nvertical-align: middle;\ndisplay: block;\nmax-width: 100%;\nwidth: 100px;\nheight: 100px;\nborder-radius: 4px;}\n.col-thumb {\n\ncolor: #0a1623;\n\nfont-weight: 400;\nfont-size: 14px;\ntext-align: left;\nbox-sizing: border-box;\nfloat: left;\nwidth: 120px;}\n.col-body{\ncolor: #0a1623;\n}\n.item{-webkit-tap-highlight-color: transparent;\n-webkit-font-smoothing: antialiased;\nline-height: 1.42857143;\nfont-family: open sans,sans-serif;\nfont-weight: 400;\nfont-size: 14px;\nbox-sizing: border-box;\ntext-align: left;\noverflow: hidden;\npadding: 10px;\nborder-bottom: 1px solid #f5f5f5;}\n.news-data{\ncolor: #0a1623;\nfloat: left;\nfont-size: 13px;\nfont-weight: 700;\ncolor: #f79a35;\nmargin-right: 15px;\n}\n\na.ng-binding{ \nline-height: 1.1;\nfont-family: open sans condensed,sans-serif;\nfont-weight: 700;\nfont-size: 18px;\nbackground-color: transparent;\ncolor: #337ab7;\ntext-decoration: none;\n}\n\n.news-footer{\ncolor: #0a1623;\nline-height: 27px;\n}\n#news_.news-tags{\ntext-align: left;\nline-height: 27px;\ncolor: #999;\nfont-size: 13px;\ncolor:#53ba9e;\n}\n\n        </style>\n    </head>\n  <div>\n<div class=\"item\">\n    <div class=\"col-thumb\">\n          <a class=\"thumb-link\" title=\"See the full article \"   href={{msg.payload.Data[0].url}} >\n               <img ng-src={{msg.payload.Data[0].imageurl}} class=\"img-responsive\" src={{msg.payload.Data[0].imageurl}}>\n\t      </a>\n    </div>\n   <div class=\"col-body\">\n               <div class=\"news-data\">\n                       {{msg.payload.Data[0].source_info.name}}\n                </div>\n                <br>\n                      <h3>\n                <a class=\"ng-binding\"  ng-href={{msg.payload.Data[0].url}}>{{msg.payload.Data[0].title}}</a>\n                      </h3>\n    </div>\n        {{msg.payload.Data[0].body}}\n    <div>\n        <div class=\"news-footer\">\n\t\t\t\t<div class=\"news-tags\" id=\"news_\">\n\t\t\t\t\tCategories: {{msg.payload.Data[0].categories}}\n\t\t\t\t</div>\n\t\t\t</div>\n    </div>\n    </div>\n<div class=\"item\">\n    <div class=\"col-thumb\">\n          <a class=\"thumb-link\" title=\"See the full article \"   href={{msg.payload.Data[1].url}} >\n               <img ng-src={{msg.payload.Data[1].imageurl}} class=\"img-responsive\" src={{msg.payload.Data[1].imageurl}}>\n\t      </a>\n    </div>\n   <div class=\"col-body\">\n               <div class=\"news-data\">\n                       {{msg.payload.Data[1].source_info.name}}\n                </div>\n                <br>\n                      <h3>\n                <a class=\"ng-binding\" target=\"_blank\" ng-href={{msg.payload.Data[1].url}}>{{msg.payload.Data[1].title}}</a>\n                      </h3>\n    </div>\n   \n        {{msg.payload.Data[1].body}}\n    \n    <div>\n        <div class=\"news-footer\">\n\t\t\t\t<div class=\"news-tags\" id=\"news_\">\n\t\t\t\t\tCategories: {{msg.payload.Data[1].categories}}\n\t\t\t\t</div>\n\t\t\t</div>\n    </div>\n\n</div>\n<div class=\"item\">\n    <div class=\"col-thumb\">\n          <a class=\"thumb-link\" title=\"See the full article \"   href={{msg.payload.Data[2].url}} >\n               <img ng-src={{msg.payload.Data[2].imageurl}} class=\"img-responsive\" src={{msg.payload.Data[2].imageurl}}>\n\t      </a>\n    </div>\n   <div class=\"col-body\">\n               <div class=\"news-data\">\n                       {{msg.payload.Data[2].source_info.name}}\n                </div>\n                <br>\n                      <h3>\n                <a class=\"ng-binding\" target=\"_blank\" ng-href={{msg.payload.Data[2].url}}>{{msg.payload.Data[2].title}}</a>\n                      </h3>\n    </div>\n   \n        {{msg.payload.Data[2].body}}\n    \n    <div>\n        <div class=\"news-footer\">\n\t\t\t\t<div class=\"news-tags\" id=\"news_\">\n\t\t\t\t\tCategories: {{msg.payload.Data[2].categories}}\n\t\t\t\t</div>\n\t\t\t</div>\n    </div>\n</div>\n<div class=\"item\">\n    <div class=\"col-thumb\">\n          <a class=\"thumb-link\" title=\"See the full article \"   href={{msg.payload.Data[3].url}} >\n               <img ng-src={{msg.payload.Data[3].imageurl}} class=\"img-responsive\" src={{msg.payload.Data[3].imageurl}}>\n\t      </a>\n    </div>\n   <div class=\"col-body\">\n               <div class=\"news-data\">\n                       {{msg.payload.Data[3].source_info.name}}\n                </div>\n                <br>\n                      <h3>\n                <a class=\"ng-binding\" target=\"_blank\" ng-href={{msg.payload.Data[3].url}}>{{msg.payload.Data[3].title}}</a>\n                      </h3>\n    </div>\n   \n        {{msg.payload.Data[3].body}}\n    \n    <div>\n        <div class=\"news-footer\">\n\t\t\t\t<div class=\"news-tags\" id=\"news_\">\n\t\t\t\t\tCategories: {{msg.payload.Data[3].categories}}\n\t\t\t\t</div>\n\t\t\t</div>\n  \n</div>\n</div>\n<div class=\"item\">\n    <div class=\"col-thumb\">\n          <a class=\"thumb-link\" title=\"See the full article \"   href={{msg.payload.Data[4].url}} >\n               <img ng-src={{msg.payload.Data[4].imageurl}} class=\"img-responsive\" src={{msg.payload.Data[4].imageurl}}>\n\t      </a>\n    </div>\n   <div class=\"col-body\">\n               <div class=\"news-data\">\n                       {{msg.payload.Data[4].source_info.name}}\n                </div>\n                <br>\n                      <h3>\n                <a class=\"ng-binding\" target=\"_blank\" ng-href={{msg.payload.Data[4].url}}>{{msg.payload.Data[4].title}}</a>\n                      </h3>\n    </div>\n   \n        {{msg.payload.Data[4].body}}\n    \n    <div>\n        <div class=\"news-footer\">\n\t\t\t\t<div class=\"news-tags\" id=\"news_\">\n\t\t\t\t\tCategories: {{msg.payload.Data[4].categories}}\n\t\t\t\t</div>\n\t\t\t</div>\n    </div>\n</div>\n</div>\n\n\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":590,"y":540,"wires":[[]]},{"id":"cc438e1c.f66b4","type":"ui_text","z":"ca8899ed.cba3c8","group":"35fc13c9.78b69c","order":1,"width":5,"height":1,"name":"choose a base currency :","label":"","format":"choose a base currency :","layout":"row-spread","x":710,"y":80,"wires":[]},{"id":"cd2d78df.9a4c78","type":"http request","z":"ca8899ed.cba3c8","name":"get categories","method":"GET","ret":"obj","paytoqs":false,"url":"https://min-api.cryptocompare.com/data/news/categories","tls":"","persist":false,"proxy":"","authType":"","x":160,"y":420,"wires":[["948ce32c.2f9df"]]},{"id":"948ce32c.2f9df","type":"function","z":"ca8899ed.cba3c8","name":"create options ","func":"var tab=[];\nvar data=msg.payload ; \nfor(var i=0;i<28;i++)\n { \n     tab[i]=data[i].categoryName;\n }\n msg.options = tab ;\n\n return msg ;","outputs":1,"noerr":0,"x":360,"y":420,"wires":[["af942a7.a6f1fd8"]]},{"id":"af942a7.a6f1fd8","type":"ui_dropdown","z":"ca8899ed.cba3c8","name":"choose a category","label":"","tooltip":"choose a news category","place":"categories","group":"35fc13c9.78b69c","order":24,"width":6,"height":1,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":590,"y":420,"wires":[["ac101b66.5b8d88"]]},{"id":"2cc40b66.370794","type":"http request","z":"ca8899ed.cba3c8","name":"get news feeds","method":"GET","ret":"obj","paytoqs":false,"url":"https://min-api.cryptocompare.com/data/news/feeds","tls":"","persist":false,"proxy":"","authType":"","x":160,"y":480,"wires":[["95ffe5f.bbe9118"]]},{"id":"95ffe5f.bbe9118","type":"function","z":"ca8899ed.cba3c8","name":"create feeds options","func":"var tab=[];\nvar data=msg.payload ; \nfor(var i=0;i<50;i++)\n { \n     tab[i]=data[i].key;\n }\n msg.options = tab ;\n\n return msg ;","outputs":1,"noerr":0,"x":380,"y":480,"wires":[["164c2468.993afc"]]},{"id":"164c2468.993afc","type":"ui_dropdown","z":"ca8899ed.cba3c8","name":"choose feed","label":"","tooltip":"choose a feed for the news","place":"feeds","group":"35fc13c9.78b69c","order":25,"width":6,"height":1,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":590,"y":480,"wires":[["3d8dad10.661062"]]},{"id":"ac101b66.5b8d88","type":"change","z":"ca8899ed.cba3c8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"cat","tot":"str"},{"t":"set","p":"categories","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"categories","pt":"flow","to":"categories","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":420,"wires":[["2cc40b66.370794"]]},{"id":"3d8dad10.661062","type":"change","z":"ca8899ed.cba3c8","name":"","rules":[{"t":"set","p":"feeds","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"categories","pt":"msg","to":"categories","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":480,"wires":[["fe6960df.ead38"]]},{"id":"fe6960df.ead38","type":"function","z":"ca8899ed.cba3c8","name":"create url","func":"if(Array.isArray(msg.categories)===false)\n  {\n     if(Array.isArray(msg.feeds)===false) \n         {\n             msg.url=\"https://min-api.cryptocompare.com/data/v2/news/?categories=\"+msg.categories+\"&feeds=\"+msg.feeds+\"&lang=EN\";\n         }\n      if(Array.isArray(msg.feeds)===true)\n         {\n             msg.url=\"https://min-api.cryptocompare.com/data/v2/news/?categories=\"+msg.categories+\"&lang=EN\";\n         }\n  }\nif(Array.isArray(msg.categories)===true)\n  {\n       if(Array.isArray(msg.feeds)===false) \n       {\n        msg.url=\"https://min-api.cryptocompare.com/data/v2/news/?feeds=\"+msg.feeds+\"&lang=EN\";\n       }\n       if(Array.isArray(msg.feeds)===true)\n       {\n                 msg.url=\"https://min-api.cryptocompare.com/data/v2/news/?lang=EN\";\n       }\n  }\n\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":540,"wires":[["acffa33b.6cf47"]]},{"id":"ce70161b.5b03e8","type":"comment","z":"ca8899ed.cba3c8","name":"news category and feed","info":"","x":360,"y":380,"wires":[]},{"id":"698736b3.d32958","type":"comment","z":"ca8899ed.cba3c8","name":"chart","info":"","x":1110,"y":80,"wires":[]},{"id":"76abe5a3.4281ec","type":"comment","z":"ca8899ed.cba3c8","name":"table","info":"","x":350,"y":240,"wires":[]},{"id":"11d3481e.ed55b8","type":"comment","z":"ca8899ed.cba3c8","name":"base currency for chart","info":"","x":340,"y":60,"wires":[]},{"id":"3cc674b8.410eec","type":"debug","z":"ca8899ed.cba3c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":200,"wires":[]},{"id":"593592b7.2ef55c","type":"ui_worldmap","z":"efb296b3.de5398","group":"1e38d375.19564d","order":2,"width":19,"height":9,"name":"","lat":"","lon":"","zoom":"3","layer":"Esri Ocean","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/worldmap","x":900,"y":140,"wires":[]},{"id":"deda9fa8.3f992","type":"http request","z":"c3be9c42.a6dbe","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://raw.githubusercontent.com/RudeySH/SteamCountries/master/json/countries-states-cities.min.json","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":280,"wires":[["75dac4c7.14d9ac"]]},{"id":"c2b42c16.65784","type":"inject","z":"c3be9c42.a6dbe","name":"","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":280,"wires":[["deda9fa8.3f992"]]},{"id":"d42bb990.b5dc98","type":"change","z":"c3be9c42.a6dbe","name":"","rules":[{"t":"set","p":"object","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"countries","pt":"flow","to":"msg.payload.countries.name","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":200,"wires":[[]]},{"id":"75dac4c7.14d9ac","type":"link out","z":"c3be9c42.a6dbe","name":"","links":["bcada311.ee46d","41a207c1.64b2d8"],"x":475,"y":280,"wires":[]},{"id":"41a207c1.64b2d8","type":"link in","z":"c3be9c42.a6dbe","name":"","links":["75dac4c7.14d9ac"],"x":55,"y":200,"wires":[["d42bb990.b5dc98"]]},{"id":"bcada311.ee46d","type":"link in","z":"c3be9c42.a6dbe","name":"","links":["75dac4c7.14d9ac"],"x":35,"y":40,"wires":[["edcce021.98a7d"]]},{"id":"edcce021.98a7d","type":"change","z":"c3be9c42.a6dbe","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"countries","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"Morocco","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":40,"wires":[["c227d926.cb3d58"]]},{"id":"c227d926.cb3d58","type":"ui_dropdown","z":"c3be9c42.a6dbe","name":"","label":"","tooltip":"","place":"Select option","group":"78ed1af2.0fbdd4","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":340,"y":40,"wires":[["fcac2da6.915a9"]]},{"id":"fcac2da6.915a9","type":"change","z":"c3be9c42.a6dbe","name":"","rules":[{"t":"set","p":"choice","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":40,"wires":[["bec12100.d6d4d"]]},{"id":"bec12100.d6d4d","type":"function","z":"c3be9c42.a6dbe","name":"index of choice","func":"msg.payload=flow.get('countries').indexOf(flow.get('choice'));\nreturn [msg]","outputs":1,"noerr":0,"x":760,"y":40,"wires":[["a533afcf.17d13"]]},{"id":"a533afcf.17d13","type":"function","z":"c3be9c42.a6dbe","name":"get array of chosen country","func":"msg.payload=flow.get(\"object\").countries[msg.payload];\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":120,"wires":[["e95139e5.5e24b8"]]},{"id":"e95139e5.5e24b8","type":"change","z":"c3be9c42.a6dbe","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"msg.payload.states.cities.name","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"Rabat","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":180,"wires":[["99f967ab.9db5a8"]]},{"id":"99f967ab.9db5a8","type":"ui_dropdown","z":"c3be9c42.a6dbe","name":"","label":"","tooltip":"","place":"Select city","group":"78ed1af2.0fbdd4","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":640,"y":180,"wires":[["b08e6b5e.69f748"]]},{"id":"2be7e8b7.733528","type":"function","z":"c3be9c42.a6dbe","name":"Location","func":"msg.payload = msg.payload.location\nreturn msg;","outputs":1,"noerr":0,"x":1200,"y":120,"wires":[["b2933401.6930f8"]]},{"id":"b2933401.6930f8","type":"ui_text","z":"c3be9c42.a6dbe","group":"d37616d.bc3d6e8","order":4,"width":6,"height":1,"name":"Location","label":"Location:","format":"{{msg.payload}}","layout":"row-left","x":1400,"y":120,"wires":[]},{"id":"ad101269.1bf48","type":"openweathermap","z":"c3be9c42.a6dbe","name":"","wtype":"current","lon":"","lat":"","city":"","country":"","language":"en","x":1010,"y":180,"wires":[["2be7e8b7.733528","b1b8cf58.9bb84","eb3399d2.255e18","13d655c9.ca668a"]]},{"id":"b08e6b5e.69f748","type":"change","z":"c3be9c42.a6dbe","name":"","rules":[{"t":"set","p":"location.city","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"location.country","pt":"msg","to":"choice","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":180,"wires":[["ad101269.1bf48"]]},{"id":"b1b8cf58.9bb84","type":"function","z":"c3be9c42.a6dbe","name":"coord of city","func":"array=msg.payload.description.split(\" \");\nmsg.payload=array[6].concat(array[7]);\nreturn [msg,msg] ;","outputs":2,"noerr":0,"x":730,"y":280,"wires":[["a93b6b50.726458"],[]]},{"id":"a93b6b50.726458","type":"function","z":"c3be9c42.a6dbe","name":"url of darksky","func":"coord=msg.payload;\nurl=\"https://api.darksky.net/forecast/013c3ab7fdfe21d60abe805bd246294e/\"+coord\nreturn {url:url};","outputs":1,"noerr":0,"x":710,"y":340,"wires":[["539fea96.e4e5f4"]]},{"id":"539fea96.e4e5f4","type":"http request","z":"c3be9c42.a6dbe","name":"Get from darksky ","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":90,"y":460,"wires":[["8e8c6ce8.c2946","b0dc82db.edf79","4b8516ec.604a98","7f25e509.78f31c","82eed56d.198aa8","f7fb0c14.688a5","15a90fc1.249ab","bed733fe.48855","46386bdb.45cc74","2dd415ab.488fba","8ca259cf.0f8228","f878b5e.d3a7b48","bc0f3aea.ff85e8","f986be6a.86b88"]]},{"id":"8e8c6ce8.c2946","type":"function","z":"c3be9c42.a6dbe","name":"get Icon","func":"msg.payload=msg.payload.daily.data[1].icon;\nreturn msg;\n ","outputs":1,"noerr":0,"x":60,"y":740,"wires":[["124d065d.3fea5a"]]},{"id":"b0dc82db.edf79","type":"function","z":"c3be9c42.a6dbe","name":"","func":"msg.payload=msg.payload.daily.data[2].icon;\nreturn msg;","outputs":1,"noerr":0,"x":50,"y":780,"wires":[["2e9c6486.a3b59c"]]},{"id":"4b8516ec.604a98","type":"function","z":"c3be9c42.a6dbe","name":"","func":"msg.payload=msg.payload.daily.data[3].icon;\nreturn msg;","outputs":1,"noerr":0,"x":50,"y":820,"wires":[["20b02c39.a1f0d4"]]},{"id":"7f25e509.78f31c","type":"function","z":"c3be9c42.a6dbe","name":"","func":"msg.payload=msg.payload.daily.data[4].icon;\nreturn msg;","outputs":1,"noerr":0,"x":50,"y":860,"wires":[["bc149b64.b594e8"]]},{"id":"82eed56d.198aa8","type":"function","z":"c3be9c42.a6dbe","name":"","func":"msg.payload=msg.payload.daily.data[5].icon;\nreturn msg;","outputs":1,"noerr":0,"x":50,"y":900,"wires":[["a1c9e67b.3874c8"]]},{"id":"f7fb0c14.688a5","type":"function","z":"c3be9c42.a6dbe","name":"","func":"msg.payload=msg.payload.daily.data[6].icon;\nreturn msg;","outputs":1,"noerr":0,"x":50,"y":940,"wires":[["547db293.ed04dc"]]},{"id":"97640fc5.4c74","type":"ui_template","z":"c3be9c42.a6dbe","group":"34ba5e83.8b8582","name":"today","order":1,"width":2,"height":2,"format":"<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-4x wi wi-wu-{{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":470,"y":740,"wires":[[]]},{"id":"46c4b24d.703f2c","type":"ui_template","z":"c3be9c42.a6dbe","group":"393b4402.3392fc","name":"weather2","order":1,"width":2,"height":2,"format":"<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-4x wi wi-wu-{{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":480,"y":780,"wires":[[]]},{"id":"9ef43c9f.0adf6","type":"ui_template","z":"c3be9c42.a6dbe","group":"ac3a1f43.c9cbf","name":"weather3","order":1,"width":2,"height":2,"format":"<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-4x wi wi-wu-{{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":480,"y":820,"wires":[[]]},{"id":"cdcf362c.31da48","type":"ui_template","z":"c3be9c42.a6dbe","group":"b30f0c4c.692c3","name":"weather4","order":1,"width":2,"height":2,"format":"<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-4x wi wi-wu-{{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":480,"y":860,"wires":[[]]},{"id":"425c7e23.8c5df","type":"ui_template","z":"c3be9c42.a6dbe","group":"f65e0dd2.dfc4c","name":"weather5","order":1,"width":2,"height":2,"format":"<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-4x wi wi-wu-{{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":480,"y":900,"wires":[[]]},{"id":"7e387de3.d8abe4","type":"ui_template","z":"c3be9c42.a6dbe","group":"3212c8d.dcfdd38","name":"weather6","order":1,"width":2,"height":2,"format":"<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-4x wi wi-wu-{{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":480,"y":940,"wires":[[]]},{"id":"124d065d.3fea5a","type":"function","z":"c3be9c42.a6dbe","name":"msg payload","func":"var data = msg.payload ; \nif (data==\"clear-day\") msg.payload = \"clear\" ;\nif (data==\"clear-night\") msg.payload = \"nt_clear\" ;\nif (data==\"partly-cloudy-day\") msg.payload = \"partlycloudy\" ;\nif (data==\"partly-cloudy-night\") msg.payload = \"nt_partlycloudy\" ;\nif (data==\"cloudy\") msg.payload = \"cloudy\" ;\nif (data==\"rain\") msg.payload = \"rain\" ;\nif (data==\"sleet\") msg.payload = \"sleet\" ;\nif (data==\"snow\") msg.payload = \"snow\" ;\nif (data==\"wind\") msg.payload = \"tstorms\" ;\nif (data==\"fog\") msg.payload = \"fog\" ;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":740,"wires":[["97640fc5.4c74"]]},{"id":"2e9c6486.a3b59c","type":"function","z":"c3be9c42.a6dbe","name":"","func":"var data = msg.payload ; \nif (data==\"clear-day\") msg.payload = \"clear\" ;\nif (data==\"clear-night\") msg.payload = \"nt_clear\" ;\nif (data==\"partly-cloudy-day\") msg.payload = \"partlycloudy\" ;\nif (data==\"partly-cloudy-night\") msg.payload = \"nt_partlycloudy\" ;\nif (data==\"cloudy\") msg.payload = \"cloudy\" ;\nif (data==\"rain\") msg.payload = \"rain\" ;\nif (data==\"sleet\") msg.payload = \"sleet\" ;\nif (data==\"snow\") msg.payload = \"snow\" ;\nif (data==\"wind\") msg.payload = \"tstorms\" ;\nif (data==\"fog\") msg.payload = \"fog\" ;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":780,"wires":[["46c4b24d.703f2c"]]},{"id":"20b02c39.a1f0d4","type":"function","z":"c3be9c42.a6dbe","name":"","func":"var data = msg.payload ; \nif (data==\"clear-day\") msg.payload = \"clear\" ;\nif (data==\"clear-night\") msg.payload = \"nt_clear\" ;\nif (data==\"partly-cloudy-day\") msg.payload = \"partlycloudy\" ;\nif (data==\"partly-cloudy-night\") msg.payload = \"nt_partlycloudy\" ;\nif (data==\"cloudy\") msg.payload = \"cloudy\" ;\nif (data==\"rain\") msg.payload = \"rain\" ;\nif (data==\"sleet\") msg.payload = \"sleet\" ;\nif (data==\"snow\") msg.payload = \"snow\" ;\nif (data==\"wind\") msg.payload = \"tstorms\" ;\nif (data==\"fog\") msg.payload = \"fog\" ;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":820,"wires":[["9ef43c9f.0adf6"]]},{"id":"bc149b64.b594e8","type":"function","z":"c3be9c42.a6dbe","name":"","func":"var data = msg.payload ; \nif (data==\"clear-day\") msg.payload = \"clear\" ;\nif (data==\"clear-night\") msg.payload = \"nt_clear\" ;\nif (data==\"partly-cloudy-day\") msg.payload = \"partlycloudy\" ;\nif (data==\"partly-cloudy-night\") msg.payload = \"nt_partlycloudy\" ;\nif (data==\"cloudy\") msg.payload = \"cloudy\" ;\nif (data==\"rain\") msg.payload = \"rain\" ;\nif (data==\"sleet\") msg.payload = \"sleet\" ;\nif (data==\"snow\") msg.payload = \"snow\" ;\nif (data==\"wind\") msg.payload = \"tstorms\" ;\nif (data==\"fog\") msg.payload = \"fog\" ;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":860,"wires":[["cdcf362c.31da48"]]},{"id":"a1c9e67b.3874c8","type":"function","z":"c3be9c42.a6dbe","name":"","func":"var data = msg.payload ; \nif (data==\"clear-day\") msg.payload = \"clear\" ;\nif (data==\"clear-night\") msg.payload = \"nt_clear\" ;\nif (data==\"partly-cloudy-day\") msg.payload = \"partlycloudy\" ;\nif (data==\"partly-cloudy-night\") msg.payload = \"nt_partlycloudy\" ;\nif (data==\"cloudy\") msg.payload = \"cloudy\" ;\nif (data==\"rain\") msg.payload = \"rain\" ;\nif (data==\"sleet\") msg.payload = \"sleet\" ;\nif (data==\"snow\") msg.payload = \"snow\" ;\nif (data==\"wind\") msg.payload = \"tstorms\" ;\nif (data==\"fog\") msg.payload = \"fog\" ;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":900,"wires":[["425c7e23.8c5df"]]},{"id":"547db293.ed04dc","type":"function","z":"c3be9c42.a6dbe","name":"","func":"var data = msg.payload ; \nif (data==\"clear-day\") msg.payload = \"clear\" ;\nif (data==\"clear-night\") msg.payload = \"nt_clear\" ;\nif (data==\"partly-cloudy-day\") msg.payload = \"partlycloudy\" ;\nif (data==\"partly-cloudy-night\") msg.payload = \"nt_partlycloudy\" ;\nif (data==\"cloudy\") msg.payload = \"cloudy\" ;\nif (data==\"rain\") msg.payload = \"rain\" ;\nif (data==\"sleet\") msg.payload = \"sleet\" ;\nif (data==\"snow\") msg.payload = \"snow\" ;\nif (data==\"wind\") msg.payload = \"tstorms\" ;\nif (data==\"fog\") msg.payload = \"fog\" ;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":940,"wires":[["7e387de3.d8abe4"]]},{"id":"15a90fc1.249ab","type":"function","z":"c3be9c42.a6dbe","name":"get high and low","func":"var tempHigh = msg.payload.daily.data[1].temperatureHigh;\nvar tempMin = msg.payload.daily.data[1].temperatureLow;\n\nreturn [{payload:tempHigh},{payload:tempMin}];\n","outputs":2,"noerr":0,"x":660,"y":600,"wires":[["1b285c32.21baf4"],["c31a71f.1c3689"]]},{"id":"bed733fe.48855","type":"function","z":"c3be9c42.a6dbe","name":"","func":"var tempHigh = msg.payload.daily.data[2].temperatureHigh;\nvar tempMin = msg.payload.daily.data[2].temperatureLow;\n\nreturn [{payload:tempHigh},{payload:tempMin}];\n","outputs":2,"noerr":0,"x":630,"y":640,"wires":[["f90997dc.27c558"],["e7b2ae0b.3e76e"]]},{"id":"46386bdb.45cc74","type":"function","z":"c3be9c42.a6dbe","name":"","func":"var tempHigh = msg.payload.daily.data[3].temperatureHigh;\nvar tempMin = msg.payload.daily.data[3].temperatureLow;\n\nreturn [{payload:tempHigh},{payload:tempMin}];\n","outputs":2,"noerr":0,"x":630,"y":680,"wires":[["1142fc20.e25254"],["96452816.97d148"]]},{"id":"2dd415ab.488fba","type":"function","z":"c3be9c42.a6dbe","name":"","func":"var tempHigh = msg.payload.daily.data[4].temperatureHigh;\nvar tempMin = msg.payload.daily.data[4].temperatureLow;\n\nreturn [{payload:tempHigh},{payload:tempMin}];\n","outputs":2,"noerr":0,"x":630,"y":720,"wires":[["5e28b3b.9e7a44c"],["3417a150.2c7fbe"]]},{"id":"8ca259cf.0f8228","type":"function","z":"c3be9c42.a6dbe","name":"","func":"var tempHigh = msg.payload.daily.data[5].temperatureHigh;\nvar tempMin = msg.payload.daily.data[5].temperatureLow;\n\nreturn [{payload:tempHigh},{payload:tempMin}];\n","outputs":2,"noerr":0,"x":630,"y":760,"wires":[["c3d383e4.898f4"],["20764db0.43b352"]]},{"id":"f878b5e.d3a7b48","type":"function","z":"c3be9c42.a6dbe","name":"","func":"var tempHigh = msg.payload.daily.data[6].temperatureHigh;\nvar tempMin = msg.payload.daily.data[6].temperatureLow;\n\nreturn [{payload:tempHigh},{payload:tempMin}];\n","outputs":2,"noerr":0,"x":630,"y":800,"wires":[["148637ef.328ab8"],["86c6f564.e663b8","7864b52f.645c5c"]]},{"id":"c31a71f.1c3689","type":"function","z":"c3be9c42.a6dbe","name":"","func":"var a = msg.payload ; \nvar b = ((a-32)*5)/9;\nmsg.payload = b.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":580,"wires":[["e9d8eaf7.46ea08"]]},{"id":"1b285c32.21baf4","type":"function","z":"c3be9c42.a6dbe","name":"from F to C ","func":"var a = msg.payload ; \nvar b = ((a-32)*5)/9;\nmsg.payload = b.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":540,"wires":[["6d248d4.91ef974"]]},{"id":"f90997dc.27c558","type":"function","z":"c3be9c42.a6dbe","name":"","func":"var a = msg.payload ; \nvar b = ((a-32)*5)/9;\nmsg.payload = b.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":620,"wires":[["960896cb.99e008"]]},{"id":"e7b2ae0b.3e76e","type":"function","z":"c3be9c42.a6dbe","name":"","func":"var a = msg.payload ; \nvar b = ((a-32)*5)/9;\nmsg.payload = b.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":660,"wires":[["b9d2e118.3d9bc"]]},{"id":"1142fc20.e25254","type":"function","z":"c3be9c42.a6dbe","name":"","func":"var a = msg.payload ; \nvar b = ((a-32)*5)/9;\nmsg.payload = b.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":700,"wires":[["9eb4be9b.c9356"]]},{"id":"96452816.97d148","type":"function","z":"c3be9c42.a6dbe","name":"","func":"var a = msg.payload ; \nvar b = ((a-32)*5)/9;\nmsg.payload = b.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":740,"wires":[["450fb4d6.6699cc"]]},{"id":"5e28b3b.9e7a44c","type":"function","z":"c3be9c42.a6dbe","name":"","func":"var a = msg.payload ; \nvar b = ((a-32)*5)/9;\nmsg.payload = b.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":780,"wires":[["615bc2ce.1daa3c"]]},{"id":"3417a150.2c7fbe","type":"function","z":"c3be9c42.a6dbe","name":"","func":"var a = msg.payload ; \nvar b = ((a-32)*5)/9;\nmsg.payload = b.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":820,"wires":[["9950fc86.3de56"]]},{"id":"c3d383e4.898f4","type":"function","z":"c3be9c42.a6dbe","name":"","func":"var a = msg.payload ; \nvar b = ((a-32)*5)/9;\nmsg.payload = b.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":860,"wires":[["b82fe72f.925ac8"]]},{"id":"20764db0.43b352","type":"function","z":"c3be9c42.a6dbe","name":"","func":"var a = msg.payload ; \nvar b = ((a-32)*5)/9;\nmsg.payload = b.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":900,"wires":[["4ed1776e.6598f8"]]},{"id":"148637ef.328ab8","type":"function","z":"c3be9c42.a6dbe","name":"","func":"var a = msg.payload ; \nvar b = ((a-32)*5)/9;\nmsg.payload = b.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":940,"wires":[["4f247374.d976cc"]]},{"id":"86c6f564.e663b8","type":"function","z":"c3be9c42.a6dbe","name":"","func":"var a = msg.payload ; \nvar b = ((a-32)*5)/9;\nmsg.payload = b.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":980,"wires":[["4a4dfa6a.ac23a4","4d1fa378.75711c"]]},{"id":"e9d8eaf7.46ea08","type":"ui_text","z":"c3be9c42.a6dbe","group":"34ba5e83.8b8582","order":3,"width":2,"height":1,"name":"","label":"Min Temp ","format":"{{msg.payload}}","layout":"row-left","x":1000,"y":580,"wires":[]},{"id":"6d248d4.91ef974","type":"ui_text","z":"c3be9c42.a6dbe","group":"34ba5e83.8b8582","order":2,"width":2,"height":1,"name":"","label":"Max Temp ","format":"{{msg.payload}}","layout":"row-left","x":1010,"y":540,"wires":[]},{"id":"7864b52f.645c5c","type":"debug","z":"c3be9c42.a6dbe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":1000,"wires":[]},{"id":"4a4dfa6a.ac23a4","type":"debug","z":"c3be9c42.a6dbe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":900,"y":1040,"wires":[]},{"id":"b9d2e118.3d9bc","type":"ui_text","z":"c3be9c42.a6dbe","group":"393b4402.3392fc","order":3,"width":2,"height":1,"name":"","label":"Min Temp ","format":"{{msg.payload}}","layout":"row-left","x":1000,"y":660,"wires":[]},{"id":"960896cb.99e008","type":"ui_text","z":"c3be9c42.a6dbe","group":"393b4402.3392fc","order":2,"width":2,"height":1,"name":"","label":"Max Temp ","format":"{{msg.payload}}","layout":"row-left","x":1010,"y":620,"wires":[]},{"id":"450fb4d6.6699cc","type":"ui_text","z":"c3be9c42.a6dbe","group":"ac3a1f43.c9cbf","order":3,"width":2,"height":1,"name":"","label":"Min Temp ","format":"{{msg.payload}}","layout":"row-left","x":1000,"y":740,"wires":[]},{"id":"9eb4be9b.c9356","type":"ui_text","z":"c3be9c42.a6dbe","group":"ac3a1f43.c9cbf","order":2,"width":2,"height":1,"name":"","label":"Max Temp ","format":"{{msg.payload}}","layout":"row-left","x":1010,"y":700,"wires":[]},{"id":"9950fc86.3de56","type":"ui_text","z":"c3be9c42.a6dbe","group":"b30f0c4c.692c3","order":3,"width":2,"height":1,"name":"","label":"Min Temp ","format":"{{msg.payload}}","layout":"row-left","x":1000,"y":820,"wires":[]},{"id":"615bc2ce.1daa3c","type":"ui_text","z":"c3be9c42.a6dbe","group":"b30f0c4c.692c3","order":2,"width":2,"height":1,"name":"","label":"Max Temp  ","format":"{{msg.payload}}","layout":"row-left","x":1010,"y":780,"wires":[]},{"id":"4ed1776e.6598f8","type":"ui_text","z":"c3be9c42.a6dbe","group":"f65e0dd2.dfc4c","order":3,"width":2,"height":1,"name":"","label":"Min Temp ","format":"{{msg.payload}}","layout":"row-left","x":1000,"y":900,"wires":[]},{"id":"b82fe72f.925ac8","type":"ui_text","z":"c3be9c42.a6dbe","group":"f65e0dd2.dfc4c","order":2,"width":2,"height":1,"name":"","label":"Max Temp ","format":"{{msg.payload}}","layout":"row-left","x":1010,"y":860,"wires":[]},{"id":"4d1fa378.75711c","type":"ui_text","z":"c3be9c42.a6dbe","group":"3212c8d.dcfdd38","order":3,"width":2,"height":1,"name":"","label":"Min Temp ","format":"{{msg.payload}}","layout":"row-left","x":1000,"y":980,"wires":[]},{"id":"4f247374.d976cc","type":"ui_text","z":"c3be9c42.a6dbe","group":"3212c8d.dcfdd38","order":2,"width":2,"height":1,"name":"","label":"Max Temp ","format":"{{msg.payload}}","layout":"row-left","x":1010,"y":940,"wires":[]},{"id":"eb3399d2.255e18","type":"function","z":"c3be9c42.a6dbe","name":"","func":"msg1={};\nmsg2={};\nmsg3={};\nmsg1.payload=\"current temperature          \"+msg.payload.tempc +\"C\";\nmsg2.payload=\"Max temperature    \"+msg.payload.temp_maxc +\"C\";\nmsg3.payload=\"Min temperature    \"+msg.payload.temp_minc +\"C\";\nreturn [msg1,msg2,msg3];","outputs":3,"noerr":0,"x":1190,"y":320,"wires":[["2ba7ab20.347f64"],["f0b77be2.cf6818"],["801d3eb6.35d27"]]},{"id":"2ba7ab20.347f64","type":"ui_template","z":"c3be9c42.a6dbe","group":"910698c9.627fb8","name":"current temp","order":1,"width":5,"height":3,"format":"\n<div class=\"blocktitle current\" ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1390,"y":300,"wires":[[]]},{"id":"2a70dfd6.9ea9d","type":"ui_template","z":"c3be9c42.a6dbe","group":"85a87e2f.995e3","name":"3 temp blocks CSS","order":3,"width":0,"height":0,"format":"<style>\n    .blocktitle{\n        padding: 40px;\n        text-align: center;\n        text-transform: uppercase;\n        transition: 0.5s;\n        background-size: 200% auto;\n        color: white;\n        border-radius: 5px;\n        color:black;\n        height: 65px;\n        width: 70%;\n        font-size: 15px;\n        font-weight: bold;\n        letter-spacing: 1px;\n\t    moz-transition: all .4s ease-in-out;\n        -o-transition: all .4s ease-in-out;\n        -webkit-transition: all .4s ease-in-out;\n        transition: all .4s ease-in-out;\n    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.14);\n    }\n    .blocktitle:hover {\n    background-position: 100% 0;\n    moz-transition: all .4s ease-in-out;\n    -o-transition: all .4s ease-in-out;\n    -webkit-transition: all .4s ease-in-out;\n    transition: all .4s ease-in-out;\n}\n.blocktitle:focus { \n    outline: none;\n               }\n.blocktitle.current{background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);\n    \n          \n    }\n    .blocktitle.max{\n        background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);\n   \n    }\n     .blocktitle.min{ \n         background-image: linear-gradient(to right, #a1c4fd , #c2e9fb , #a1c4fd );\n  \n    }\n    \n</style>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":1630,"y":80,"wires":[[]]},{"id":"f0b77be2.cf6818","type":"ui_template","z":"c3be9c42.a6dbe","group":"910698c9.627fb8","name":"max temp","order":2,"width":5,"height":3,"format":"\n<div class=\"blocktitle max\" ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1380,"y":340,"wires":[[]]},{"id":"801d3eb6.35d27","type":"ui_template","z":"c3be9c42.a6dbe","group":"910698c9.627fb8","name":"min temp","order":3,"width":5,"height":3,"format":"\n<div class=\"blocktitle min\" ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1380,"y":380,"wires":[[]]},{"id":"494faa74.825ef4","type":"ui_template","z":"c3be9c42.a6dbe","group":"ba34475d.7b2348","name":"background css","order":0,"width":0,"height":0,"format":"<style>\n    body {\n        background-image: url(\"/stars2.jpg\");\n        background-repeat:repeat ;\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":1620,"y":120,"wires":[[]]},{"id":"bc0f3aea.ff85e8","type":"function","z":"c3be9c42.a6dbe","name":"Current","func":"msg.payload = msg.payload.currently;\nreturn msg;","outputs":1,"noerr":0,"x":1540,"y":460,"wires":[["7303150d.14fb1c","c50c6298.8e7ee","294cfe15.f6cc62","b3af308a.0ba4b"]]},{"id":"7303150d.14fb1c","type":"function","z":"c3be9c42.a6dbe","name":"get temp F","func":"const t = msg.payload.temperature.toFixed(1);\nconst f = msg.payload.apparentTemperature.toFixed(1);\n\nlet m1 = {topic:\"temperature\",payload:t,};\nlet m2 = {topic:\"feelslike\",payload:f,};\n\nreturn [ m1, m2 ];\n","outputs":2,"noerr":0,"x":1890,"y":460,"wires":[["fc0dc066.07027"],["39fa696e.affd06"]]},{"id":"fc0dc066.07027","type":"function","z":"c3be9c42.a6dbe","name":"from F to C ","func":"var a = msg.payload ; \nvar b = ((a-32)*5)/9;\nmsg.payload = b.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":2070,"y":420,"wires":[["b0df8aea.9fa298"]]},{"id":"39fa696e.affd06","type":"function","z":"c3be9c42.a6dbe","name":"from F to C ","func":"var a = msg.payload ; \nvar b = ((a-32)*5)/9;\nmsg.payload = b.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":2070,"y":480,"wires":[["b0df8aea.9fa298"]]},{"id":"b0df8aea.9fa298","type":"ui_chart","z":"c3be9c42.a6dbe","name":"temp chart","group":"1daf6245.48da3e","order":1,"width":5,"height":4,"label":"Temperature","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#00ff80","#0080c0","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":2270,"y":300,"wires":[["6bd30e7.d7075f"]]},{"id":"c50c6298.8e7ee","type":"debug","z":"c3be9c42.a6dbe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1880,"y":400,"wires":[]},{"id":"6bd30e7.d7075f","type":"change","z":"c3be9c42.a6dbe","name":"save context","rules":[{"t":"set","p":"weatherTemp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2290,"y":380,"wires":[[]]},{"id":"1fa79bb9.0da894","type":"inject","z":"c3be9c42.a6dbe","name":"restore","topic":"","payload":"weatherTemp","payloadType":"flow","repeat":"","crontab":"","once":true,"onceDelay":"","x":2040,"y":340,"wires":[["b0df8aea.9fa298"]]},{"id":"e81eabe2.1ff9b8","type":"ui_text","z":"c3be9c42.a6dbe","group":"d37616d.bc3d6e8","order":18,"width":4,"height":1,"name":"detail","label":"","format":"({{msg.payload}})","layout":"row-left","x":1410,"y":200,"wires":[]},{"id":"13d655c9.ca668a","type":"function","z":"c3be9c42.a6dbe","name":"detail","func":"msg.payload = msg.payload.detail;\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":200,"wires":[["e81eabe2.1ff9b8"]]},{"id":"2f3329aa.c82196","type":"inject","z":"c3be9c42.a6dbe","name":"New day","topic":"","payload":"connect","payloadType":"str","repeat":"","crontab":"01 00 * * *","once":false,"onceDelay":"","x":1680,"y":580,"wires":[["b5083c62.7cbd4"]]},{"id":"ab23b52f.e28aa8","type":"ui_dropdown","z":"c3be9c42.a6dbe","name":"Select","label":"","tooltip":"","place":"","group":"d37616d.bc3d6e8","order":2,"width":6,"height":1,"passthru":true,"options":[{"label":"today","value":"1","type":"str"},{"label":"tomorrow","value":"2","type":"str"},{"label":"in 2 days","value":"3","type":"str"},{"label":"in 3 days","value":"4","type":"str"},{"label":"in 4 days ","value":"5","type":"str"}],"payload":"","topic":"dropdown","x":1740,"y":620,"wires":[["b5083c62.7cbd4","7161eef4.2c9d6"]]},{"id":"b5083c62.7cbd4","type":"function","z":"c3be9c42.a6dbe","name":"","func":"msg.payload=flow.get(\"darkskyObject\").daily.data[msg.payload];\nreturn msg ;","outputs":1,"noerr":0,"x":1940,"y":610,"wires":[["bda72947.5bb738","ebbdb7df.52aab8","2d75e952.56c1d6","1a4e821a.a548ae","eb06d2c.3cede3","9d86e345.f9c69"]]},{"id":"bda72947.5bb738","type":"debug","z":"c3be9c42.a6dbe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2140,"y":670,"wires":[]},{"id":"7161eef4.2c9d6","type":"debug","z":"c3be9c42.a6dbe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1880,"y":670,"wires":[]},{"id":"f986be6a.86b88","type":"change","z":"c3be9c42.a6dbe","name":"","rules":[{"t":"set","p":"darkskyObject","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":520,"wires":[["9d58962b.e1ad58"]]},{"id":"9d58962b.e1ad58","type":"change","z":"c3be9c42.a6dbe","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1640,"y":670,"wires":[["ab23b52f.e28aa8"]]},{"id":"997a17fb.aea1c8","type":"inject","z":"c3be9c42.a6dbe","name":"","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":true,"onceDelay":"0.1","x":1670,"y":530,"wires":[["b5083c62.7cbd4"]]},{"id":"ebbdb7df.52aab8","type":"function","z":"c3be9c42.a6dbe","name":"sunrise and sunset ","func":"function timeConverter(UNIX_timestamp){\n  var a = new Date(UNIX_timestamp * 1000);\n  var hour = a.getHours();\n  var min = a.getMinutes();\n  if (min < 10) {min = \"0\" + min;}\n    else {min = min;}\n  var sec = a.getSeconds();\n  if (sec < 10) {sec = \"0\" + sec;}\n    else {sec = sec;}\n    \n  var time = hour + ':' + min + ':' + sec ;\n  return time;\n}\nvar sunRise = {};\nvar sunSet = {};\nsunRise.topic = \"SunRise\";\nsunRise.payload = timeConverter(msg.payload.sunriseTime);\nsunSet.topic = \"SunSet\";\nsunSet.payload = timeConverter(msg.payload.sunsetTime);\nreturn [sunSet , sunRise];","outputs":2,"noerr":0,"x":2410,"y":650,"wires":[["3e34a258.7ef80e"],["fe578919.21c938"]]},{"id":"fe578919.21c938","type":"ui_text","z":"c3be9c42.a6dbe","group":"d37616d.bc3d6e8","order":8,"width":3,"height":1,"name":"Sunrise","label":"Sunrise","format":"{{msg.payload}}","layout":"row-spread","x":2620,"y":710,"wires":[]},{"id":"3e34a258.7ef80e","type":"ui_text","z":"c3be9c42.a6dbe","group":"d37616d.bc3d6e8","order":15,"width":3,"height":1,"name":"Sunset","label":"Sunset","format":"{{msg.payload}}","layout":"row-spread","x":2610,"y":630,"wires":[]},{"id":"545d4529.27bf6c","type":"ui_template","z":"c3be9c42.a6dbe","group":"d37616d.bc3d6e8","name":"Sunrise Icon","order":14,"width":2,"height":1,"format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons.min.css\">\n<div style=\"display: flex;height: 100%;justify-content: left;align-items: center;\">\n<i class=\"fa-2x wi wi-sunrise\"></i>\n</div> ","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":2630,"y":670,"wires":[[]]},{"id":"d1eaf577.346358","type":"ui_template","z":"c3be9c42.a6dbe","group":"d37616d.bc3d6e8","name":"Sunset Icon","order":7,"width":2,"height":1,"format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons.min.css\">\n<div style=\"display: flex;height: 100%;justify-content: left;align-items: center;\">\n<i class=\"fa-2x wi wi-sunset\"></i>\n</div> ","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":2610,"y":590,"wires":[[]]},{"id":"2d75e952.56c1d6","type":"function","z":"c3be9c42.a6dbe","name":"wind speed","func":"var windSpeed ={};\nvar windSpeedIcon ={};\nwindSpeed.topic = \"WindSpeed\";\nwindSpeed.payload = msg.payload.windSpeed +  \" m/s\";\nvar speedToCardIcon = function(speed){\nif (speed>0.5 && speed<=1.5){\nreturn \"wi-wind-beaufort-1\";\n  }else if (speed>1.5 && speed<=3.3){\nreturn \"wi-wind-beaufort-2\";\n  }else if (speed>3.3 && speed<=5.5){\nreturn \"wi-wind-beaufort-3\";\n  }else if (speed>5.5 && speed<=7.9){\nreturn \"wi-wind-beaufort-4\";\n  }else if (speed>7.9 && speed<=10.7){\nreturn \"wi-wind-beaufort-5\";\n  }else if (speed>10.7 && speed<=13.8){\nreturn \"wi-wind-beaufort-6\";\n  }else if (speed>13.8 && speed<=17.1){\nreturn \"wi-wind-beaufort-7\";\n  }else if (speed>17.1 && speed<=20.7){\nreturn \"wi-wind-beaufort-8\";\n  }else if (speed>20.7 && speed<=24.4){\nreturn \"wi-wind-beaufort-9\";\n  }else if (speed>24.4 && speed<=28.4){\nreturn \"wi-wind-beaufort-10\";\n  }else if (speed>28.4 && speed<=32.6){\nreturn \"wi-wind-beaufort-11\";\n  }else if (speed>32.6){\nreturn \"wi-wind-beaufort-12\";\n  }else{\nreturn \"wi-wind-beaufort-0\"; \n  }\n}\nwindSpeedIcon.topic = \"WindSpeedIcon\";\nwindSpeedIcon.payload = speedToCardIcon(msg.payload.windSpeed);\nreturn [windSpeed , windSpeedIcon];","outputs":2,"noerr":0,"x":2410,"y":770,"wires":[["71543b1c.255eb4"],["55b3e813.ce74b8"]]},{"id":"71543b1c.255eb4","type":"ui_text","z":"c3be9c42.a6dbe","group":"d37616d.bc3d6e8","order":11,"width":3,"height":1,"name":"WindSpeed","label":"Wind Speed ","format":"  {{msg.payload}}","layout":"row-right","x":2610,"y":770,"wires":[]},{"id":"55b3e813.ce74b8","type":"ui_template","z":"c3be9c42.a6dbe","group":"d37616d.bc3d6e8","name":"WindSpeed Icon","order":10,"width":2,"height":1,"format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons-wind.css\">\n<div style=\"display: flex;height: 100%;justify-content: left;align-items: center;\">\n<i class=\"fa-2x wi wi-wind {{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":2600,"y":810,"wires":[[]]},{"id":"4322aad0.47b494","type":"ui_text","z":"c3be9c42.a6dbe","group":"d37616d.bc3d6e8","order":16,"width":4,"height":1,"name":"humidity","label":"humidity ","format":"{{msg.payload}}","layout":"row-spread","x":2440,"y":870,"wires":[]},{"id":"1a4e821a.a548ae","type":"function","z":"c3be9c42.a6dbe","name":"humidity","func":"msg.payload = msg.payload.humidity +\" %\";\n\nreturn msg;","outputs":1,"noerr":0,"x":2280,"y":870,"wires":[["4322aad0.47b494"]]},{"id":"815b6db0.ed783","type":"ui_text","z":"c3be9c42.a6dbe","group":"d37616d.bc3d6e8","order":13,"width":4,"height":1,"name":"cloud","label":"cloud cover ","format":"{{msg.payload}}","layout":"row-spread","x":2450,"y":930,"wires":[]},{"id":"eb06d2c.3cede3","type":"function","z":"c3be9c42.a6dbe","name":"clouds","func":"msg.payload = msg.payload.cloudCover +\"%\";\n\nreturn msg;","outputs":1,"noerr":0,"x":2290,"y":930,"wires":[["815b6db0.ed783"]]},{"id":"31fd377c.fae2e8","type":"ui_text","z":"c3be9c42.a6dbe","group":"d37616d.bc3d6e8","order":5,"width":10,"height":1,"name":"weather","label":"weather today :","format":"{{msg.payload}}","layout":"row-left","x":2600,"y":490,"wires":[]},{"id":"9d86e345.f9c69","type":"function","z":"c3be9c42.a6dbe","name":"weather","func":"msg.payload = msg.payload.summary;\n\nreturn msg;","outputs":1,"noerr":0,"x":2440,"y":490,"wires":[["31fd377c.fae2e8"]]},{"id":"be5a0024.84aa","type":"ui_text","z":"c3be9c42.a6dbe","group":"1daf6245.48da3e","order":5,"width":4,"height":1,"name":"","label":"temperature","format":"{{msg.payload}}C","layout":"row-spread","x":2130,"y":20,"wires":[]},{"id":"294cfe15.f6cc62","type":"function","z":"c3be9c42.a6dbe","name":"Temp","func":"const t = msg.payload.temperature.toFixed(1);\nconst f = msg.payload.apparentTemperature.toFixed(1);\n\nlet m1 = {topic:\"temperature\",payload:t,};\nlet m2 = {topic:\"feelslike\",payload:f,};\n\nreturn [ m1, m2 ];","outputs":2,"noerr":0,"x":1810,"y":100,"wires":[["fa0f48da.39eb88"],["168d538c.868c5c"]]},{"id":"fa0f48da.39eb88","type":"function","z":"c3be9c42.a6dbe","name":"from F to C ","func":"var a = msg.payload ; \nvar b = ((a-32)*5)/9;\nmsg.payload = b.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":1970,"y":40,"wires":[["be5a0024.84aa"]]},{"id":"168d538c.868c5c","type":"function","z":"c3be9c42.a6dbe","name":"from F to C ","func":"var a = msg.payload ; \nvar b = ((a-32)*5)/9;\nmsg.payload = b.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":1970,"y":80,"wires":[["211c739c.1b209c"]]},{"id":"211c739c.1b209c","type":"ui_text","z":"c3be9c42.a6dbe","group":"1daf6245.48da3e","order":7,"width":4,"height":1,"name":"","label":"feelslike","format":"{{msg.payload}}C","layout":"row-spread","x":2120,"y":80,"wires":[]},{"id":"445b38c0.9e4c28","type":"ui_template","z":"c3be9c42.a6dbe","group":"1daf6245.48da3e","name":"line in middle css","order":2,"width":1,"height":4,"format":"<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<style>\n.vl {\n  border-left: 6px solid AQUA;\n  height: 500px;\n}\n</style>\n</head>\n<body>\n\n\n\n<div class=\"vl\"></div>\n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1630,"y":160,"wires":[[]]},{"id":"241ba066.aaeab","type":"comment","z":"c3be9c42.a6dbe","name":"select country and city","info":"","x":520,"y":120,"wires":[]},{"id":"3e0af0bd.56a5a","type":"comment","z":"c3be9c42.a6dbe","name":"calendar","info":"","x":540,"y":540,"wires":[]},{"id":"8086af35.af5f2","type":"comment","z":"c3be9c42.a6dbe","name":"high and low of the day","info":"","x":1140,"y":380,"wires":[]},{"id":"9b1b444b.936df8","type":"comment","z":"c3be9c42.a6dbe","name":"forecast","info":"","x":1290,"y":80,"wires":[]},{"id":"f55d9ddd.8b98f","type":"comment","z":"c3be9c42.a6dbe","name":"select forecast","info":"","x":1770,"y":720,"wires":[]},{"id":"11924100.97ca9f","type":"comment","z":"c3be9c42.a6dbe","name":"forecast","info":"","x":2410,"y":560,"wires":[]},{"id":"e6e2a204.7337e","type":"comment","z":"c3be9c42.a6dbe","name":"temp chart","info":"","x":1800,"y":40,"wires":[]},{"id":"b3af308a.0ba4b","type":"function","z":"c3be9c42.a6dbe","name":"Wind","func":"const w = msg.payload.windSpeed.toFixed(1);\nlet g = msg.payload.windGust.toFixed(1);\n\nif (g < w) {g = w;}\n\nlet newMess1 = {topic:\"wind\",payload:w,};\nlet newMess2 = {topic:\"gust\",payload:g,};\n\nreturn [ newMess1, newMess2 ];\n","outputs":2,"noerr":0,"x":1790,"y":280,"wires":[["ff53bb54.3cb2e8","770dc8e0.51c358"],["ff53bb54.3cb2e8","e7ba1756.a5bb78"]]},{"id":"ff53bb54.3cb2e8","type":"ui_chart","z":"c3be9c42.a6dbe","name":"wind chart","group":"1daf6245.48da3e","order":3,"width":5,"height":4,"label":"Wind","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#00ff80","#0080c0","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":2030,"y":200,"wires":[[]]},{"id":"e7ba1756.a5bb78","type":"ui_text","z":"c3be9c42.a6dbe","group":"1daf6245.48da3e","order":6,"width":4,"height":1,"name":"","label":"gusts","format":"{{msg.payload}}mph","layout":"row-spread","x":2010,"y":280,"wires":[]},{"id":"770dc8e0.51c358","type":"ui_text","z":"c3be9c42.a6dbe","group":"1daf6245.48da3e","order":8,"width":4,"height":1,"name":"","label":"w/spd","format":"{{msg.payload}}mph","layout":"row-spread","x":2010,"y":240,"wires":[]},{"id":"5a1c3b0e.632444","type":"ui_template","z":"c3be9c42.a6dbe","group":"d37616d.bc3d6e8","name":"line in middle css","order":9,"width":1,"height":2,"format":"<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<style>\n.vl {\n  border-left: 6px solid AQUA;\n  height: 500px;\n}\n</style>\n</head>\n<body>\n\n\n\n<div class=\"vl\"></div>\n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1590,"y":200,"wires":[[]]},{"id":"97378cf3.74286","type":"ui_template","z":"c3be9c42.a6dbe","group":"1daf6245.48da3e","name":"line in middle css","order":4,"width":1,"height":4,"format":"<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<style>\n.vl {\n  border-left: 6px solid AQUA;\n  height: 500px;\n}\n</style>\n</head>\n<body>\n\n\n\n<div class=\"vl\"></div>\n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1570,"y":280,"wires":[[]]},{"id":"489fe848.757868","type":"ui_template","z":"c3be9c42.a6dbe","group":"d37616d.bc3d6e8","name":"line in middle css","order":12,"width":1,"height":2,"format":"<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<style>\n.vl {\n  border-left: 6px solid AQUA;\n  height: 500px;\n}\n</style>\n</head>\n<body>\n\n\n\n<div class=\"vl\"></div>\n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1570,"y":240,"wires":[[]]},{"id":"27522989.266f06","type":"ui_text","z":"c3be9c42.a6dbe","group":"d37616d.bc3d6e8","order":1,"width":3,"height":1,"name":"forecast for","label":"forecast for :","format":"","layout":"row-left","x":2530,"y":300,"wires":[]},{"id":"fa7eadbe.8ac57","type":"ui_template","z":"ca8899ed.cba3c8","group":"35fc13c9.78b69c","name":"line in middle css","order":4,"width":1,"height":9,"format":"<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<style>\n.vl {\n  border-left: 10px solid AQUA;\n  height: 500px;\n}\n</style>\n</head>\n<body>\n\n\n\n<div class=\"vl\"></div>\n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":904.2857055664062,"y":631.4285888671875,"wires":[[]]},{"id":"445f3849.779588","type":"ui_text","z":"ca8899ed.cba3c8","group":"35fc13c9.78b69c","order":5,"width":3,"height":1,"name":"coin ranking ","label":"","format":"coin ranking : ","layout":"row-spread","x":1010,"y":680,"wires":[]},{"id":"ad836765.828858","type":"ui_text","z":"ca8899ed.cba3c8","group":"35fc13c9.78b69c","order":22,"width":13,"height":1,"name":"news","label":"","format":"cryptocurrency news ","layout":"row-spread","x":870,"y":680,"wires":[]}]